<div class="container">

  <div class="card mt-3 shadow">
    <div class="card-body">

    <h2 class="card-title text-right">ورود</h2>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

      <div class="form-group row">

        <label class="col-md-2 col-form-label text-right">ایمیل</label>
        <div class="col-md-10">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="align-bottom fa fa-envelope"></i></span>
            </div>
            <input type="text" formControlName="username" placeholder="someone@proffesional.com" class="form-control ltr" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
          </div>
          <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
          <div *ngIf="f.username.errors.required">Username is required</div>
        </div>
        </div>

      </div>

      <div class="form-group row">

        <label class="col-md-2 col-form-label text-right">کلمه عبور</label>

        <div class="col-md-10">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="align-bottom fa fa-key"></i></span>
            </div>
            <input type="password" formControlName="password" placeholder="رمز حساب کاربری شالاپ" class="form-control ltr" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
          </div>
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required">Password is required</div>
        </div>
        </div>
      </div>

      <div class="row form-group text-right">

        <div class="col-md-2"></div>
        <div class="col-md-10">
          <button [disabled]="loading" type="submit" class="btn btn-primary ml-2">ورود <i class="fa fa-refresh fa-spin" *ngIf="loading"></i> </button>
          <button [disabled]="loading" type="button" class="btn btn-primary ml-2" (click)="loginWithGoogle()">ورود با گوگل <i class="fa fa-google"></i> </button>
          <a [routerLink]="['/register']" class="btn btn-link">ثبت نام</a>
          <a [routerLink]="['/forget-password']" class="btn btn-link pull-left">رمز عبور را فراموش کردم</a>
        </div>
      </div>
    </form>

    </div>
  </div>
</div>
