<modal #childModal [size]="'sm'" [zIndex]="10" [modalTitle]="title">

  <ng-container class="app-modal-body">

        <div class="text-right">
          {{message}}
          <ng-content></ng-content>
        </div>
  </ng-container>>

  <ng-container class="app-modal-footer">
          <button class="btn primary ml-2" (click)="confirm()" *ngIf="type==='CONFIRM'"> بله </button>
          <button class="btn secondary" (click)="hide()"> {{type === 'CONFIRM' ? 'نه' : 'بستن'}} </button>
  </ng-container>
</modal>
