<editable-meeting *ngIf="event && !loading" [event]="event"></editable-meeting>

<div class="card mb-3 shadow" *ngIf="loading">
  <div class="card-body">
    <div class="row justify-content-center">
      <spinner [size]="'large'" [showing]="loading" #spinner></spinner>
    </div>
  </div>
</div>

<div class="text-center owl-container" *ngIf="!loading && !event">
  <object class="w-75" type="image/svg+xml" data="../../assets/images/owl-old/owl.svg">
    <param name="class" value="look-around" />
  </object>
  <div class="text-muted">یه مشکلی یه جایی هست</div>
</div>


