<!-- guests -->
<div class="box">

  <suggesting-item-input #selectGuest  click-zone (clickOutside)="selectGuest.outsideClicked($event)"
                         (itemSelected)="onGuestAdded($event)" [guestsHint]="guestHint"  [items]="guests|generalFilter:guestHint">
    <div class="frame flexbox-parent-row">
      <input type="text" class="flexbox-item-grow"
             autocomplete="off"
             (focus)="selectGuest.showing=true" (keyup)="onGuestInputKeyUp($event)"
             name="title" placeholder="جستجوی میهمانان" [(ngModel)]="guestHint">

      <i class="mr-2 action-icon fa fa-user-plus" (click)="addGuests($event)"></i>
      <i class=" action-icon fa fa-address-book" (click)="onImportClick($event)"></i>
    </div>
  </suggesting-item-input>


  <div class="selected-contacts">
    <div *ngFor="let contact of attendees; let i=index;" class="flexbox-parent-row contact ">
      <img class="rounded-circle contact-image" [src]="contact.imageUrl ? contact.imageUrl : '../assets/images/user-placeholder.png'">
      <div class="contact-name flexbox-item-grow mr-2" >{{contact.name}}</div>
      <i class=" contact-remove fa fa-remove" (click)="removeContact($event, i)"></i>
    </div>
  </div>

</div>

<add-attendee (onAttendeeAdded)="onGuestAdded($event);" #addAttendee></add-attendee>
<contacts-modal (onSelected)="onGuestsSelected($event)" #contactsModal ></contacts-modal>
