.selected-contacts .contact:last-child{
  border-bottom: none;
}
.selected-contacts .contact{
  border-bottom: 1px solid #e8e8e8;
  padding: 1px 0;
  font-weight: 300;
  color: #5b5b5b;
}

.selected-contacts .contact-name{
  line-height: 2;
}
.selected-contacts{
  margin-top: 15px;
  max-height: 200px;
  overflow: auto;
}

.contact-remove:hover {
  color: #005ea6;
}
.contact-remove {
  border-radius: 50%;
  font-size: 18px;
  /* padding: 5px; */
  width: 35px;
  height: 35px;
  /* height: 32px; */
  cursor: pointer;
  /* margin-right: 15px; */
  text-align: center;
  line-height: 2.3;
}
