<div class="comments pt-2 mt-2 pb-2 mb-2">

  <div  class="">

    <div class=" flexbox-parent-row">
      <i class=" ml-3 icon fa fa-comment"></i>

      <textarea #textAreaElement (focus)="rows = 3" (blur)="rows=1" [rows]="rows"
                placeholder="نظرتان را بنویسید..."
                class="comment-textarea" [(ngModel)]="text" ></textarea>

      <button (click)="onSubmit()" class=" secondary send-comment">ارسال</button>
    </div>
  </div>

  <div class="">

    <div *ngFor="let c of comments; let i=index;" class="comment flexbox-parent-row">
      <img class="rounded-circle contact-image ml-2" [src]="c.userImageUrl ? c.userImageUrl : '../assets/images/user-placeholder.png'">
      <div class="flexbox-item-grow flexbox-parent-row ml-2 mr-2 rtl comment-content">
        <div class="text-muted">{{c.userName}} </div>
        <div class="mr-2 flexbox-item-grow"> {{c.text}}</div>
        <span class="comment-time">14:23</span>
      </div>
      <i class="fa fa-trash mt-2 action-icon-sm" *ngIf="(!anonymous && c.userId === authService.userId)" (click)="deleteComment(i)"></i>

    </div>

    <div class="more-comments text-right" *ngIf="!noMoreComments">
      <a href="" class="" (click)="readComments($event)"> نظرات بیشتر  <i class="fa fa-angle-down mr-2"></i></a>
    </div>

  </div>
</div>
