.map-container-section {
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}
.map-container-section .map {
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}


.contact-info{
  color: steelblue;
}

.nav-item{
  /*border-bottom: 1px solid gray;*/
}
