<div class="row bg-white p-5">

  <div class="col-md-8 mb-5">
    <!-- Header -->
    <p class="dark-grey-text text-muted text-right">سوالات و مشکلات خود را برای ما بنویسید.</p>
    <form [formGroup]="contactUsForm" (ngSubmit)="onSubmit()">
      <div class=" ">
        <label class=" col-form-label text-right">نام</label>
        <input id="name" type="text" formControlName="name" name="name" class="" placeholder="نام کامل" [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
      </div>

      <!--Email-->
      <div class=" ">
        <label class=" col-form-label text-right">ایمیل</label>
        <input formControlName="email" type="text" name="email" class=" ltr" placeholder="ali@gmail.com" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
      </div>

      <!--Title-->
      <div class=" ">
        <label class=" col-form-label text-right">موضوع</label>
        <input formControlName="title" type="text" name="title" class="" placeholder="موضوع ارتباط" [ngClass]="{ 'is-invalid': submitted && f.title.errors }">

      </div>

      <!--Messgae-->
      <div class=" ">
        <label class=" col-form-label text-right">پیام</label>
        <textarea id="message" formControlName="message" type="text" rows="10" name="email" class="" placeholder="متن پیام" [ngClass]="{ 'is-invalid': submitted && f.message.errors }"></textarea>

      </div>

      <button type="submit" class="btn primary ml-2">ارسال</button>
    </form>
  </div>

  <div class="col-md-4 ">

    <div class="flexbox-parent text-center">
    <!-- Buttons-->
    <div class="  contact-info mb-4">
      <div class="text-overflow">
        <i class="fa fa-map-marker font-x-large ml-3"></i>
        <span>تهران،‌ خیابان پاسداران</span>
      </div>
      <div class="text-overflow">
        <i class="fa fa-phone font-x-large ml-3"></i>
        <span class="ltr">+98 (21) 8457 8457</span>
      </div>
      <div class="">
        <i class="fa fa-envelope ml-3 font-x-large"></i>
        <span>info@sholop.com</span>
      </div>
    </div>

    <hr>

    <!--Google map-->
    <div id="map-container-section" class="z-depth-1-half map-container-section  flexbox-item-grow" style="height: 200px">
      <agm-map class="map" [latitude]="35.6892" [longitude]="51.3890" [scrollwheel]="true" [zoom]="12">
        <agm-marker [latitude]="35.6892" [longitude]="51.3890"></agm-marker>
      </agm-map>
    </div>
    </div>
  </div>

</div>
