<div class="container-fluid h-100">
  <div class="row h-100">
    <aside class="col-12 col-md-2 p-0 bg-dark ">
      <nav class="navbar navbar-expand navbar-dark bg-dark flex-md-column flex-row align-items-start py-2">
        <div class="collapse navbar-collapse pt-5 text-right">
          <div class="flex-md-column flex-row navbar-nav w-100 justify-content-between rtl text-right">
            <li class="nav-item">
              <a class="nav-link pl-0" href="#" (click)="changeView($event, 1)"><i class="fa fa-heart-o fa-fw"></i> <span class="d-none d-md-inline">درباره ما</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link pl-0" href="#" (click)="changeView($event, 2)"><i class="fa fa-book fa-fw"></i> <span class="d-none d-md-inline">تماس با ما</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link pl-0" href="#" (click)="changeView($event, 3)"><i class="fa fa-heart fa-fw"></i> <span class="d-none d-md-inline">سوالات متداول</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link pl-0" href="#" (click)="changeView($event, 4)"><i class="fa fa-star fa-fw"></i> <span class="d-none d-md-inline">قوانین سایت</span></a>
            </li>
          </div>
        </div>
      </nav>
    </aside>


    <main class="col bg-faded py-3 flex-parent">

      <about-us *ngIf="view===1"></about-us>

      <div *ngIf="view===2" class="row grow">

        <div class="col-lg-7 mb-lg-0 mb-4 flex-parent">

          <div class="card grow">
            <div class="card-body">
              <!-- Header -->
              <div class="form-header blue accent-1">
                <h5 class="mt-2 text-right"><i class="fa fa-envelope"></i> برای ما بنویسید</h5>
              </div>
              <p class="dark-grey-text text-muted text-right">سوالات و مشکلات خود را برای ما بنویسید.</p>


              <form [formGroup]="contactUsForm" (ngSubmit)="onSubmit()">
                <div class="row ">
                  <label class="col-sm-2 col-form-label text-right">نام</label>
                  <div class="col-sm-10">

                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="align-bottom fa fa-user"></i></span>
                      </div>
                      <input id="name" type="text" formControlName="name" name="name" class="form-control" placeholder="نام کامل" [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
                    </div>

                  </div>
                </div>

                <!--Email-->
                <div class="row ">
                  <label class="col-sm-2 col-form-label text-right">ایمیل</label>
                  <div class="col-sm-10">

                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="align-bottom fa fa-envelope"></i></span>
                      </div>
                      <input id="email" formControlName="email" type="text" name="email" class="form-control ltr" placeholder="ali@gmail.com" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                    </div>

                  </div>
                </div>

                <!--Title-->
                <div class="row ">
                  <label class="col-sm-2 col-form-label text-right">موضوع</label>
                  <div class="col-sm-10">

                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="align-bottom fa fa-tag"></i></span>
                      </div>
                      <input id="title" formControlName="title" type="text" name="title" class="form-control" placeholder="موضوع ارتباط" [ngClass]="{ 'is-invalid': submitted && f.title.errors }">
                    </div>

                  </div>
                </div>


                <!--Messgae-->
                <div class="row ">
                  <label class="col-sm-2 col-form-label text-right">پیام</label>
                  <div class="col-sm-10">

                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="align-bottom fa fa-tag"></i></span>
                      </div>
                      <textarea id="message" formControlName="message" type="text" rows="10" name="email" class="form-control" placeholder="متن پیام" [ngClass]="{ 'is-invalid': submitted && f.message.errors }"></textarea>
                    </div>

                  </div>
                </div>

                <div class="row">
                  <div class=" col-sm-2"></div>
                  <div class=" col-sm-10 text-right">
                    <button type="submit" class="btn btn-primary ml-2">ارسال</button>
                  </div>
                </div>
              </form>
            </div>
          </div>

        </div>


        <div class="col-lg-5 flex-parent">

          <!--Google map-->
          <div id="map-container-section" class="z-depth-1-half map-container-section mb-4 grow" style="height: 400px">
            <agm-map class="map" [latitude]="35.6892" [longitude]="51.3890" [scrollwheel]="true" [zoom]="12">
              <agm-marker [latitude]="35.6892" [longitude]="51.3890"></agm-marker>
            </agm-map>
          </div>

          <!-- Buttons-->
          <div class="row text-center contact-info">
            <div class="col-md-4">
              <a class="btn-floating blue accent-1">
                <i class="fa fa-map-marker font-x-large"></i>
              </a>
              <p>تهران،‌ خیابان پاسداران</p>
              <p class="mb-md-0">بوستان هشتم</p>
            </div>
            <div class="col-md-4">
              <a class="btn-floating blue accent-1">
                <i class="fa fa-phone font-x-large"></i>
              </a>
              <p class="ltr">+98 (21) 8457 8457</p>
              <p class="mb-md-0">شنبه تا چهارشنبه، 16:۰۰ - ۹:۰۰</p>
            </div>
            <div class="col-md-4">
              <a class="btn-floating blue accent-1">
                <i class="fa fa-envelope font-x-large"></i>
              </a>
              <p>info@sholop.com</p>
              <p class="mb-0">sale@sholop.com</p>
            </div>
          </div>

        </div>



      </div>

      <faq *ngIf="view===3"></faq>

      <conditions *ngIf="view===4"></conditions>

    </main>
  </div>
</div>
