<div class="container-fluid h-100">

  <div class="row h-100 bg-white">

    <div class="col-md-3 bg-blue-light  ">

      <div class="text-center h-100 flex-parent ">
        <div class="mt-5">
          <object class="w-25 owl" type="image/svg+xml" data="../../assets/images/owl-blinking.svg">
            <param name="class" value="look-around" />
          </object>
        </div>


        <h4>ابزاری برای تنظیم ملاقات</h4>
        <h5 class="text-muted">اعتباری برای سازمان شما</h5>

        <!--<p class="mt-3 grow">
          <i class="fa fa-circle"></i> تنظیم ملاقات
          <i class="fa fa-circle"></i> اطلاع رسانی<br>
          <i class="fa fa-circle"></i> ارتباط با مخاطبان
          <i class="fa fa-circle"></i> کنترل ورود و خروج میهمانان<br>
          <i class="fa fa-circle"></i>  تحلیل های آماری از حضور مشتریان شما
        </p>-->


        <h5 class="text-center ltr mt-5 grow">
          <a href="" class="ml-3 social-network-icon"><i class="fa fa-linkedin "></i></a>
          <a href="" class="ml-3 social-network-icon"><i class="fa fa-google-plus"></i></a>
          <a href="" class="ml-3 social-network-icon"><i class="fa fa-twitter"></i></a>
        </h5>

        <div class="text-muted mt-5 ltr">
          <i class="fa fa-copyright ml-3 social-network-icon"></i>
          Powered by
          <a href="http://wiseaspect.co.uk">Wise Aspect Limited</a>
        </div>

      </div>
    </div>

    <div class="col-md-9 bg-white text-center  flex-parent">


      <button class="start-button p-2 shadow-sm mt-2 m-auto">با ما همراه شوید</button>



    </div>

  </div>

</div>
