.bg{
    background-size:100%;
    color:#696969;
    background-image:url("/assets/images/h2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg .a{
    transform: scale(0.6);
    }
#searchItem{
    color:#696969;
    }
.h2{
    color:#696969;
}
.bg-body{
    background-color:WhiteSmoke;
}

