.bg{
    background-size:100%;
    background-color:#fed95d;
    color:#696969;
}
.text-center{
    transform: scale(0.6);
    }
#searchItem{
    color:#696969;
    }
.event-comment{
    color:#696969;
}
.bg-body{
    background-color:Gainsboro;
}
