<reception-item-modal></reception-item-modal>
<app-reception></app-reception>
<app-qr-code-scanner #scanner ></app-qr-code-scanner>
<overlay-spinner [text]="'در حال دریافت اطلاعات...'" *ngIf="loadingReception"></overlay-spinner>
<confirm #prompt [type]="'PROMPT'" [title]="''">{{promptText}}</confirm>

<div [class]="(authService.isLoggedIn() ? 'container' : '' ) + ' home h-100 '" id="home">

  <div [class]="' page-wrapper flexbox-parent chiller-theme ' + (authService.isLoggedIn() ? 'toggled ' : '')
      + (sidebar ? 'open' : '')" #pageWrapper>

    <nav id="sidebar" class="sidebar-wrapper" #sidebarWrapper>
      <div class="sidebar-content pl-2 pr-2">

        <div class="sidebar-brand  text-left" id="sidebar-brand-close">
          <div id="close-sidebar"  (click)="this.toggleSidebar()">
            <i class="fa fa-remove nav-icon active "></i>
          </div>
        </div>

        <!--<div class="sidebar-header " >
          <div class="flexbox-parent-row profile-link" [routerLink]="'/settings'" >
            <div class="user-pic ">
              <img class="img-responsive img-rounded" [src]="[authService.imageUrl]"
                   alt="User picture">
            </div>
            <div class="user-info flexbox-item-grow p-3">
              <div class="user-name">
                <strong>{{authService.name}}</strong>
              </div>
              <span class="user-role">{{authService.getRoleString()}}</span>
            </div>

          </div>
        </div>

        <div class="input-group ">
          <button class="form-control mt-3 primary" routerLink="/create-meeting" >ایجاد ملاقات</button>
        </div>

        <div class="input-group ">
          <button class="form-control mt-3 secondary" routerLink="/create-token" >صدور اجازه ورود</button>
        </div>

        <hr>-->

        <div class="calendar-wrapper">
<!--          <app-switch-button #switch [leftText]="'نمایش همه'" [rightText]="'بر اساس روز'" (switchChanged)="switchChanged($event)"></app-switch-button>-->
          <calendar #calendar (onDateSelected)="onDateSelected($event)"></calendar>
        </div>

        <hr>

        <div class="sidebar-menu">
          <ul>
            <li class="sidebar-dropdown" [class]="(navigationService.currentLocation.startsWith('/meetings') ? 'selected' : '')" [routerLink]="'/meetings'">
              <a [routerLink]="">
                <i class="fa fa-users"></i>
                <span>جلسات</span>
              </a>
            </li>
            <li class="sidebar-dropdown" [class]="(navigationService.currentLocation === '/tokens' ? 'selected' : '')" [routerLink]="'/tokens'">
              <a [routerLink]="">
                <i class="fa fa-id-card"></i>
                <span>مجوزهای ورود</span>
              </a>
            </li>

            <!--<li #employeesMenu class="sidebar-dropdown"
                [class]="'sidebar-dropdown ' + (navigationService.currentLocation === '/employees' ? ' active selected' : (navigationService.currentLocation.startsWith('/employees/') ? ' active sub-selected' : ''))">
              <a (click)="employeesMenu.classList.toggle('active')" [routerLink]="'/employees'">
                <i class="fa fa-sitemap"></i>
                <span>لیست کارمندان</span>
              </a>
              <div class="sidebar-submenu ">
                <ul>
                  <li [class]="(navigationService.currentLocation === '/employees/owner' ? 'selected' : '')">
                    <a [routerLink]="'/employees/owner'"><i class="fa fa-briefcase"></i> مدیر سایت</a>
                  </li>
                  <li [class]="(navigationService.currentLocation === '/employees/reception' ? 'selected' : '')">
                    <a [routerLink]="'/employees/reception'"><i class="fa fa-handshake-o"></i>پذیرش</a>
                  </li>
                  <li [class]="(navigationService.currentLocation === '/employees/user' ? 'selected' : '')">
                    <a [routerLink]="'/employees/user'"><i class="fa fa-user"></i>کاربر</a>
                  </li>
                </ul>
              </div>
            </li>-->

            <li class="sidebar-dropdown" [class]="(navigationService.currentLocation === '/address-book' ? 'selected' : '')" [routerLink]="'/address-book'">
              <a [routerLink]="">
                <i class="fa fa-address-book"></i>
                <span>دفترچه افراد</span>
              </a>
            </li>

            <li class="sidebar-dropdown" [class]="(navigationService.currentLocation === '/venues' ? 'selected' : '')" [routerLink]="'/venues'">
              <a [routerLink]="">
                <i class="fa fa-map-marker"></i>
                <span>مکان‌های جلسات</span>
              </a>
            </li>

            <li class="sidebar-dropdown" *ngIf="false" [class]="(navigationService.currentLocation === '/messages' ? 'selected' : '')" [routerLink]="'/messages'">
              <a [routerLink]="">
                <i class="fa fa-inbox"></i>
                <span>پیام‌ها</span>
                <span class="badge badge-pill badge-danger">3</span>
              </a>
            </li>


            <!--<li class="sidebar-dropdown" [class]="(navigationService.currentLocation === '/settings' ? 'selected' : '')" [routerLink]="'/settings'">
              <a [routerLink]="">
                <i class="fa fa-wrench"></i>
                <span>تنظیمات</span>
              </a>
            </li>-->


          </ul>

          <!--<div class="text-center mt-5">
            <small class="text-muted">version {{version}}</small>
          </div>-->
        </div>

        <!-- sidebar-menu  -->
      </div>
      <!-- sidebar-content  -->
    </nav>

    <main class="page-content flexbox-item-grow">

      <ng-content></ng-content>

      <!--<div class="bottom-menu-wrapper" *ngIf="authService.isLoggedIn()">
        <div class="bottom-menu flexbox-parent-row text-center">
          <div  [class]="'bottom-menu-item flexbox-item-grow ' + (navigationService.currentLocation === '/meetings' ? 'selected' : '')"
                [routerLink]="'/meetings'">
            <i class="fa fa-users"></i>
            <div>جلسات</div>
          </div>

          <div [class]="' bottom-menu-item  flexbox-item-grow ' + (navigationService.currentLocation.startsWith('/tokens') ? ' active selected' : '')"
               [routerLink]="'/tokens'">
            <i class="fa fa-id-badge"></i>
            <div>مجوزها</div>
          </div>

          <div [class]="'bottom-menu-item flexbox-item-grow ' + (navigationService.currentLocation.startsWith('/create-meeting') ? ' active selected' : '')"
               [routerLink]="'/create-meeting'">
            <i class="fa fa-plus-circle"></i>
            <div>ملاقات</div>
          </div>

          <div [class]="'bottom-menu-item flexbox-item-grow ' + (navigationService.currentLocation === '/address-book' ? 'selected' : '')"
               [routerLink]="'/address-book'">
            <i class="fa fa-address-book"></i>
            <div>دفترچه افراد</div>
          </div>

          <div [class]="'bottom-menu-item flexbox-item-grow '" (click)="scanner.show()">
            <i class="fa fa-qrcode"></i>
            <div>اسکن بارکد</div>
          </div>
        </div>
      </div>-->
    </main>
  </div>

</div>


