.bg-blue-light{
  background: #f6f6fd;
}

.video-container{
  height: 300px;
  margin: 30px auto 10px auto;
}


.start-button:hover{
  background: royalblue;
  color: white;
  
}
.start-button{
  background: white;
  color: gray;
  border-radius: 4px;
  border: 1px solid darkgray;
  cursor: pointer;
}

.social-network-icon{
  color: gray;
}
