<div class="bg-white p-5">
  <h1>محتوا ، اشتراک ، پیوندها به وب سایت ها و تغییرات</h1>

  <h2>محتوا</h2>
  <p>
    خدمات ما به شما امکان می دهد جلسات و هماییش و ملاقات های خود را ترتیب داده ، مدیریت و پیگیری کنید و همچنین به شما امکان می دهد که، اطلاعات ، اطلاعات تماس و موقعیت جغرافیایی را با دیگران به اشتراک بگذارید و اطلاعات ، متن ، گرافیک ، فیلم یا سایر مطالب را در دسترس قرار دهید
    ("محتوا") . شما مسئول محتوای اشتراک و اطلاعات منتشر شده هستید. شما باید اطمینان حاصل کنید که اطلاعات اشتراکی ، ذخیره شده یا منتشر شده شما مطابق قانون ایران است..

    شما تأیید می کنید و موافقت می کنید که  گرداندگان سامانه شالاپ مسئولیت یا مسئولیت مستقیم یا غیرمستقیم در قبال هرگونه خسارت یا خسارت ایجاد شده یا ادعا شده در اثر استفاده یا اتکا به هرگونه محتوا یا فعالیتهای مرتبط با آنها یا در ارتباط با استفاده ندارند.
  </p>

  <h2>اشتراک ها</h2>
  <p>اشتراک های این سرویس رایگان است مگر انکه به صورت مستقیم سرویس غیر رایگان مشخص شده باشد</p>

  <h2>پیوند به وب سایتهای دیگر</h2>
  <p>خدمات ما ممکن است حاوی پیوندهایی به وب سایت ها یا سرویس های شخص ثالث باشد که متعلق به سامانه شالاپ نیست ، یا تحت مالکیت آن نیستند ، سامانه شالاپ هیچ کنترلی بر روی آن ندارد و هیچ گونه مسئولیتی در مورد محتوای ، سیاست های حفظ حریم خصوصی یا اعمال شخص ثالث بر عهده نمی گیرد. شما بیشتر تأیید می کنید و موافقت می کنید که مجموعه شالاپ مسئولیت یا مسئولیت مستقیم یا غیرمستقیم در قبال هرگونه خسارت یا خسارت ایجاد شده یا ادعا شده در اثر استفاده یا اتکا به هرگونه محتوا ، کالاها یا خدمات موجود نمیباشد.
    تغییر در اصطلاح و شرایط ،
    مجموعه شالاپ به صلاحدید خود اختیار دارد که هر زمان که بخواهیم این شرایط را تغییر یا جایگزین کنیم. اگر یک ویرایش تجدید نظر باشد ،. آنچه یک تغییر ماده را تشکیل می دهد با اختیار ما تعیین می شود.</p>

  <h2>تغییر در برنامه ها و وب سایت</h2>
  <p>مجموعه  شالاپ اختیار کامل دارد برای تغییر و یا جایگزین کردن وب سایت ، برنامه های کاربردی تلفن همراه  و دیگر برنامه های کاربردی در هر زمان.</p>


  <h1>پیشگیری از تقلب ، جلوگیری از کلاه تقلب</h1>

  <p>گرداندگان سامانه شالاپ به منظور جلوگیری ار تقلب و به صورت مستمر تمام فعالیت ها را بازرسی میکند.

    مجموعه شالاپ نمی تواند تمام شرکت ها یا فردی که در این جلسه شرکت می کند را بررسی و تأیید کند ، کاربر مسئولیت تأیید جلسات را قبل از هرگونه تعامل بر عهده دارد.

    در صورت مشاهده هرگونه فعالیت مشکوک باید آن به سامانه شالاپ گزارش شود. حق شالاپ به داشتن حقوق برای محرمانه نگه داشتن هرگونه فعالیت بیشتر ، محفوظ است.

    شما تأیید می کنید و موافقت می کنید که گرداندگان سامانه شالاپ مسئولیت یا مسئولیت مستقیم یا غیرمستقیم در قبال هرگونه خسارت یا خسارت ایجاد شده یا ادعا شده در اثر استفاده یا اتکاء به هرگونه فعالیت کلاهبرداری موجود در یا از طریق هر گونه از وب سایتها ، برنامه ها یا خدمات ما را ندارد.
  </p>

  <h1>خبرنامه ایمیل</h1>
  <p>اگر در خبرنامه ما عضو شوید ، ممکن است از آدرس ایمیل شما برای ارسال اطلاعات در مورد محصولات یا خدمات از شما استفاده کنیم.شما می توانید در هر لحظه از این موارد امتناع کنید .</p>

  <h1>کوکی ها و نظارت</h1>
  <p>کوکی یک فایل متنی کوچک است که ما در دستگاه شما ذخیره می کنیم. وب سایت ما از کوکی ها برای تمایز از سایر کاربران وب سایت شما استفاده می کند. کوکی ها همچنین اطلاعاتی در مورد نحوه استفاده از این وب سایت به ما ارائه می دهند تا بتوانیم آن را به روز ، مرتبط و بدون خطا نگه داریم.

    کوکی های کاملاً ضروری - این کوکی هایی هستند که برای عملکرد وب سایت ما ضروری هستند.
    کوکی تحلیلی / عملکردی - این کوکی ها به ما امکان می دهند تعداد بازدید کنندگان وب سایت خود را بشناسیم و بشماریم.
    کوکی های عملکردی - از این کوکی ها برای شناسایی شما هنگام بازگشت به وب سایت ما استفاده می شود.
    هدف قرار دادن کوکی ها - این کوکی ها بازدید شما از وب سایت ما ، صفحاتی که بازدید کرده اید و پیوندهایی که دنبال کرده اید را ضبط می کند.
    ممکن است ما به ترافیک سایت خود نظارت کنیم و اطلاعات زیر را جمع آوری کنیم:
  </p>
  <ul>
    <li>آدرس IP رایانه شما.</li>
    <li>وب سایت ارجاعی که از آن به وب سایت ما دسترسی پیدا کرده اید.</li>
  </ul>


  <p>دلایل این امر عبارتند از:</p>

  <ul>
    <li>رای بهبود مداوم وب سایت ما بر اساس این داده ها.</li>
    <li>برای دیدن محبوب ترین منابع تجاری ما.</li>
  </ul>
  <span>توجه: ما از خدمات شخص ثالث استفاده می کنیم که ممکن است کوکی ها را نیز جمع آوری کند ، مانند Google Analytics.</span>


  <h1>تقسیم اطلاعات شخصی</h1>
  <p>ما ممکن است اطلاعات شخصی شما را فاش کنیم:</p>
  <ul>
    <li>به شرکتهای دیگر در گروه ما.</li>
    <li>اگر ما کسب و کار خود را بفروشیم.</li>
    <li>به نمایندگان و ارائه دهندگان خدمات.</li>
    <li>در مواردی که طبق قانون موظف هستیم اطلاعات را منتقل کنیم.</li>
    <li>اگر اعتقاد داریم اقدام برای مقابله با کلاهبرداری ، جرایم سایبری یا محافظت از وب سایت ، حقوق ، امنیت شخصی افراد / افراد ضروری است.</li>
    <li>چنین ممکن است ما برای توصیف خدمات خود به شرکای (تبلیغ کنندگان ، حامیان مالی) و سایر اشخاص ثالث معتبر و برای اهداف قانونی دیگر ، آمار کلی درباره بازدید کنندگان به وب سایت خود (مشتری و فروش) را فاش کنیم ، اما این آمار شامل هیچگونه اطلاعات شخصی نمی شود.</li>
  </ul>

  <p>اگر نگران داده های خود هستید ، حق دارید با توجه به پرداخت هزینه ناچیز ، سامانه sholop for enterprise را تهیه کنید که در این صورت اطلاعات به صورت کامل در بستر زیر ساختی شما موجود خواهد بود.</p>

  <h1>اطلاعات محصول</h1>
  <h2>محدودیت خدمات</h2>
  <p>خدمات ما نباید برای فعالیتهای ممنوعه و فعالیتهای غیرقانونی استفاده شود.</p>

  <h1>حق انصراف</h1>
  <p>کلیه مشتریان حق دارند اشتراک خود را لغو کنند.</p>

  <h1>اعلامیه ها</h1>
  <p>کلیه اعلان هایی که برای ما ارسال می کنید باید از طریق اطلاعات تماس ارسال شود.</p>

  <h1>نتیجه گیری</h1>
  <p>این شرایط توسط قوانین جمهوری اسلامی ایران مدیریت می شود. شما و ما موافق میکنیم که دادگاههای ایران به صورت غیر انحصاری  مرجعیت خواهند داشت. برای هر گونه سؤال بیشتر ، لطفاً با ما تماس نگیرید ، لطفا توجه کنید که ما وكیل و قاضی نیستیم كه امیدوارم  این را بدانید!

    لطفاً توجه داشته باشید که ما هرگز نامه الکترونیکی حاوی زبان توهین آمیز را باز نمی کنیم و آن ایمیل ها را ذخیره نمی کنیم.</p>

</div>
