<div class="times-wrapper iconed-input" click-zone (clickOutside)="clickOutside($event)">

  <div class="frame flexbox-parent-row">
    <input #input (change)="onTimeChanged()"
           type="text" [class]="inputClasses + ' flexbox-item-grow ltr'" autocomplete="false"
           [autocomplete]="false"
           readonly
           [value]="((hourString<10 ? '0' : '') + hourString ) + ':' + ((minuteString<10 ? '0' : '') + minuteString )"
           (focus)="onFocus()" name="date"
           [placeholder]="placeholder? placeholder : 'Time'" >
  </div>

  <div class="unselectable position-relative"  >

    <div   *ngIf="isShowing"  class="times-container ltr" >


      <div class="flexbox-parent-row ltr p-2">
        <div class="flexbox-item-grow text-center">
          <button class="secondary" (click)="onHourChange(+1)"><i class="fa fa-angle-up"></i></button>
          <input type="number" class="text-center mt-1 mb-1" min="0" max="23" [(ngModel)]="hourString">
          <button class="secondary" (click)="onHourChange(-1)"><i class="fa fa-angle-down"></i></button>
        </div>
        <div class="ml-2 mr-2 font-large"> : </div>
        <div class="flexbox-item-grow text-center">
          <button class="secondary" (click)="onMinuteChange(+1)"><i class="fa fa-angle-up"></i></button>
          <input type="number" class="text-center mt-1 mb-1" [(ngModel)]="minuteString"  min="0" max="59">
          <button class="secondary" (click)="onMinuteChange(-1)"><i class="fa fa-angle-down"></i></button>
        </div>
      </div>

      <!--<table class="w-100 text-center">
        <tr *ngFor="let hour of dummyRows; let i=index;">
          <td [class.main-row]="mainRow===i">
            <span (click)="hourChange(true)" *ngIf="i===mainRow-1"><i class="fa fa-angle-up change-button font-x-large"></i></span>
            <span (click)="hourChange(false)" *ngIf="i===mainRow+1"><i class="fa fa-angle-down change-button font-x-large"></i></span>
          </td>
          <td class="time-item hour-item" (wheel)="onHourScroll($event)"
               (click)="hourClick(i)" [class.highlight]="i===mainRow">
            <span>{{( hours[i]<10 ? '0' : '') + hours[i]}}</span>
          </td>

          <td [class.highlight]="i===mainRow" class="time-item">
            <span>{{i===mainRow ? ':' : ''}}</span>
          </td>

          <td class="time-item minute-item" (wheel)="onMinuteScroll($event)"
               (click)="minuteClick(i)" [class.highlight]="i===mainRow">
            <span>{{(minutes[i]<10 ? '0' : '') + minutes[i]}}</span>
          </td>

          <td [class.main-row]="mainRow===i">
            <span (click)="minuteChange(true)" *ngIf="i===mainRow-1"><i class="fa fa-angle-up change-button font-x-large"></i></span>
            <span (click)="minuteChange(false)" *ngIf="i===mainRow+1"><i class="fa fa-angle-down change-button font-x-large"></i></span>
          </td>
        </tr>
      </table>-->

      <!--<hr>
      <div class="text-right">
        <button class="btn btn-outline-primary mb-3 mr-3" (click)="isShowing=false">خوبه</button>
      </div>-->

  </div>

  </div>
</div>
