.date-title-container{
  margin-bottom: 10px;
  /*color: white;*/
  line-height: 3;
}

.date-title{
  border: 1px solid #212529;
  border-radius: 25px;
  padding: 5px 15px;
}

.owl{
  max-height: 250px;
}
.meeting-container{
  background:  #343a40;
}
