<meeting-item-modal #meetingModal [event]="selectedMeeting"></meeting-item-modal>
<div class="flex-parent">
  <div class="container mt-3 mb-3 grow">
    <div class="card h-100 shadow">
      <div class="card-body ">

        <div class="row">

          <!--calendar-->
          <div class="col-md-4">
            <div class="sticky-top mt-2">
              <calendar #calendar (onDateSelected)="onDateChanged($event)"></calendar>
            </div>
          </div>

          <div class="col-md-8 meeting-container scroll">

            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="align-bottom fa fa-search"></i></span>
              </div>
              <input id="search" type="text" name="search" class="form-control" placeholder="نام، ایمیل، ..." >
            </div>

            <div class="mt-2 text-center sticky-top" *ngIf="selectedDate">
              <span class="date-title">
                <i class="fa fa-calendar ml-2"></i>
                {{dateService.greToPersian(selectedDate, true)}}
              </span>
              <div class="title-border w-100"></div>
            </div>

            <meeting-item (clicked)="onMeetingClick($event)"
                          class="mt-2" *ngFor="let event of meetings" [event]="event">
            </meeting-item>

            <div class="text-center" *ngIf="!loading && (!meetings || meetings.length === 0)">
              <object class="w-25 owl" type="image/svg+xml" data="../../assets/images/owl.svg">
                <param name="class" value="look-around" />
              </object>
            </div>

            <spinner #spinner></spinner>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
