.date-title{
  /*background: #ff4e5f;*/
  padding: 5px 15px;
  /*border-radius: 13px;*/
  /*margin-bottom: 10px;*/
  /*color: white;*/
  /*line-height: 3;*/
}

.owl{
  max-height: 250px;
}

.title-border{
  height: 5px;
  border-radius: 10px;
  background: radial-gradient(ellipse at top, #eee, transparent);
}
