/*************** New Theme ******/

select:hover,
input:focus,
textarea:focus{
  background-color: #fff;
  border-color: rgba(234,76,137,0.4);
  -webkit-box-shadow: 0 0 0 4px rgba(234,76,137,0.1);
  box-shadow: 0 0 0 4px rgba(234,76,137,0.1);
}

select.ng-touched.ng-invalid,
input.ng-touched.ng-invalid,
textarea.ng-touched.ng-invalid{
  background-color: rgba(255, 183, 207, 0.4);
}

select:hover,
input:hover[type='text'],
input:hover[type='number'],
input:hover[type='search'],
input:hover[type='password'],
input:hover[type='email'],
input:hover[type='url'],
input:hover[type='tel'],
textarea:hover {
  background-color: #fff;
  border-color: rgba(0,0,0,0.1);
  -webkit-box-shadow: 0 0 0 4px rgba(234,76,137,0.1);
  box-shadow: 0 0 0 4px rgba(234,76,137,0.1);
}

.app-container textarea{
  height: inherit;
}

select,
input[type='text'],
input[type='number'],
input[type='search'],
input[type='password'],
input[type='email'],
input[type='url'],
input[type='tel'],
textarea{
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 35px;
  padding: 3px 16px;
  outline: none;
  border-radius: 8px;
  -webkit-transition: background-color 200ms ease, outline 200ms ease, color 200ms ease, -webkit-box-shadow 200ms ease;
  transition: background-color 200ms ease, outline 200ms ease, color 200ms ease, -webkit-box-shadow 200ms ease;
  transition: background-color 200ms ease, outline 200ms ease, color 200ms ease, box-shadow 200ms ease;
  transition: background-color 200ms ease, outline 200ms ease, color 200ms ease, box-shadow 200ms ease, -webkit-box-shadow 200ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #0d0c22;
  background-color: #f3f3f4;
  border: 1px solid lightblue;
}

label{
  font-weight: 900;
  /*margin-top: 10px;*/
}

.app-container button{
  display: inline-block;
  padding: 10px 16px;
  cursor: pointer;
  border: none;
  text-decoration: none;
  /*background: #ea4c89;*/
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  /*border-radius: 8px;*/
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  outline: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  height: 40px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  white-space: nowrap;


  border: 0;
  /*background-color: #ab5900;*/
  /*background-color: #0070ba;*/
  background-color: #17A2B9;
  border-radius: 8px;
  color: #fff;
}


.app-container button[disabled]{
  opacity: .7;
}
.app-container button.small:hover{
  background: #eeeeee;
}
.app-container button.small{
  background: transparent;
  color: #111111;
}

.app-container button:hover {
  /*background-color: #e18f35;*/
  background-color: #005ea6;
}

.app-container button.secondary {
  background-color: #E1E7EB;
  color: #2C2E2F;
}
.app-container button.secondary:hover {
  background-color: #d2dbe1;
}

.app-container button.danger {
  background-color: #980303;
  color: white;
}
.app-container button.danger:hover {
  background-color: #d84747;
}

.app-container .custom-control-label{
  margin-right: 2.5rem;
}

.checkbox-input:checked~.checkbox-label::before {
  color: #fff;
  border-color: #007bff;
  background-color: #007bff;
}

.app-container .custom-control-label::before {
  width: 2rem;
  height: 2rem;
  background-color: #fff;
  border: #adb5bd solid 1px;
  right: -2.5rem;
  top: -.25rem;
}

.app-container .custom-control-label::after {
  right: -2.5rem;
  top: -.25rem;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.app-container .custom-control-input {
  width: 2rem;
  height: 2rem;
}

.action-icon{
  border-radius: 50%;
  font-size: 15px;
  /* padding: 5px; */
  width: 35px;
  height: 35px;
  /* height: 32px; */
  cursor: pointer;
  /*margin-right: 15px;*/
  text-align: center;
  line-height: 2.3;
  background-color: #f1f1f1;
  -webkit-box-shadow: 0 3px 8px rgba(0,0,0,.25);
  box-shadow: 0 3px 8px rgba(0,0,0,.25);
}

.action-icon-sm {
  border-radius: 50%;
  font-size: 10px;
  /* padding: 5px; */
  width: 20px;
  height: 20px;
  /* height: 32px; */
  cursor: pointer;
  margin-right: 15px;
  text-align: center;
  line-height: 1.9;
  background-color: #f1f1f1;
}
.action-icon-sm:hover,
.action-icon:hover{
  background-color: #909ea8;
  color: white;
}
