.svg{
  animation: fade-in 3s ease;
}

.no-tree #tree{
  display: none;
}

@keyframes fade-in{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.walking #owl{
  animation: walk 1s linear backwards;
}

.walking #right-leg{
  offset-path: path('M0,0 L20,0 0,0');
  animation: move .1s linear alternate 10;
}
.walking #left-leg {
  offset-path: path('M0,0 L20,0 0,0');
  animation: move .1s .1s linear alternate 10;
}

@keyframes move {
  from{
    offset-distance: 0;
  }
  to {
    offset-distance: 50%;
  }
}

.double-blinking #left-full-eyelid {
  opacity: 0;
  animation: blink 7s ease infinite;
}
.double-blinking #right-full-eyelid {
  opacity: 0;
  animation: blink 7s 2s ease infinite;
}

.single-blinking #left-full-eyelid {
  animation: blink 7s ease infinite;
}
.single-blinking #right-full-eyelid {
  display: none;
}

#right-ear{
  transform-origin: center center;
  animation: itch 12s ease infinite;
}

@keyframes blink {
  0%{ opacity: 0; }
  10%{ opacity: 0; }
  11%{ opacity: 1; }
  15%{ opacity: 1; }
  16%{ opacity: 0; }
  30%{ opacity: 0; }
  31% {opacity: 1;}
  35% {opacity: 1;}
  36% {opacity: 0;}
  100%{ opacity: 0; }
}
@keyframes walk {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes walk-leg {
  0% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(0, -10px, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes itch {
  0% {-webkit-transform: rotate(0deg);transform:rotate(0deg);}
  40% {-webkit-transform: rotate(0deg);transform:rotate(0deg);}
  41% {-webkit-transform: rotate(-1deg);transform:rotate(-1deg);}
  42% {-webkit-transform: rotate(0deg);transform:rotate(0deg);}
  43% {-webkit-transform: rotate(-1deg);transform:rotate(-1deg);}
  44% {-webkit-transform: rotate(0deg);transform:rotate(0deg);}
  100% {-webkit-transform: rotate(0deg);transform:rotate(0deg);}
}
