<modal [modalTitle]=" 'ثبت ' + 'مخاطب' + ' جدید' "
       [size]="'sm'"
       [zIndex]="11" #childModal>
  <ng-container class="app-modal-body">

      <div class="">
        <div class="col-sm-12 m-2 text-center">
          <img class="rounded-circle contact-image" (click)="onImageClick()" [src]="contact.imageUrl ? contact.imageUrl : '../assets/images/user-placeholder.png'">
          <div><small class="text-muted ">کلیک کنید</small></div>
        </div>
      </div>
      <input (change)="fileChanged($event)" #fileInput type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">

      <!--Name-->
      <div class=" ">
        <label class=" text-right">نام</label>
        <input type="text" name="name" class=""
               #nameField="ngModel" required
               [ngClass]="{ 'is-invalid': !nameField.valid && (nameField.touched || nameField.dirty || submitted) }"
               placeholder="نام کامل" [(ngModel)]="contact.name">
      </div>

      <!--Email-->
      <div class=" ">
        <label class=" text-right">ایمیل</label>
        <input type="text" name="email" class=" ltr"
               #emailField="ngModel" pattern="^\S*[@]\S*[.]\S*$" email required
               [ngClass]="{ 'is-invalid': !emailField.valid && (emailField.touched || emailField.dirty || submitted) }"
               placeholder="ali@gmail.com" [(ngModel)]="contact.email" [email]="true">
      </div>

      <!--Phone-->
      <div class=" ">
        <label class=" text-right">تلفن</label>
        <input type="text" name="phone" class=" ltr"
               #phoneField="ngModel" pattern="^[0-9]{7,13}$"
               [ngClass]="{ 'is-invalid': !phoneField.valid && (phoneField.touched || phoneField.dirty || submitted) }"
               placeholder="0912XXXXXXXX" [(ngModel)]="contact.phone">
      </div>
  </ng-container>

  <ng-container class="app-modal-footer">
      <button type="button" class="btn primary ml-2" (click)="createContact()">ذخیره</button>
      <button type="button" class="btn secondary" (click)="hide()">لغو</button>
  </ng-container>

</modal>
<!-- Image Modal -->
<modal #imageCropperModal
       [modalTitle]="'اندازه عکس'"
       [size]="'auto'"
       [zIndex]="11">
  <ng-container class="app-modal-body ">
    <div class="text-center">
    <image-cropper #cropper
                         [imageChangedEvent]="imageChangedEvent"
                         [maintainAspectRatio]="true"
                         [aspectRatio]="4 / 4"
                         format="png"
                         (imageCropped)="imageCropped($event)"
                         (loadImageFailed)="loadImageFailed()"></image-cropper>
    </div>
  </ng-container>
  <ng-container class="app-modal-footer">
    <div class="text-right">
      <button type="button" class="btn primary" (click)="onImageCropperModalOk()">خوبه</button>
    </div>
  </ng-container>
</modal>
