<div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">


    <div class="modal-content">
      <div class="modal-header ltr">
        <span class="modal-title">مخاطب</span>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">

        <div class="row justify-content-center">
          <div class="col-sm-5 m-2 text-center">
            <img class="rounded-circle w-100" (click)="onImageClick()" [src]="contact.image ? contact.image : '../assets/images/user-placeholder.png'">
            <small class="text-muted ">کلیک کنید</small>
          </div>
        </div>

        <!-- Image Modal -->
        <modal #imageCropperModal
               [modalTitle]="'Edit Image Size'"
               [zIndex]="6"
               [maximizable]="true">
          <ng-container class="app-modal-body">
            <img-cropper #cropper [image]="data1" [settings]="cropperSettings1" ></img-cropper>
          </ng-container>
          <ng-container class="app-modal-footer">
            <!--<button type="button" class="btn btn-default">Delete</button>&nbsp;-->
            <!--<button type="button" class="btn btn-default">Save</button>-->
            <div class="text-right">
              <button type="button" class="btn btn-default" (click)="onImageCropperModalOk()">خوبه</button>
            </div>
          </ng-container>
        </modal>

        <input (change)="fileChanged($event)" #fileInput type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">

        <!--Name-->
        <div class="row ">
          <label class="col-sm-3 col-form-label">نام</label>
          <div class="col-sm-9">

            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="align-bottom fa fa-user"></i></span>
              </div>
              <input id="title" type="text" name="name" class="form-control" placeholder="نام کامل" [(ngModel)]="contact.name">
            </div>

          </div>
        </div>

        <!--Email-->
        <div class="row ">
          <label class="col-sm-3 col-form-label">ایمیل</label>
          <div class="col-sm-9">

            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="align-bottom fa fa-envelope"></i></span>
              </div>
              <input id="email" type="text" name="email" class="form-control ltr" placeholder="ali@gmail.com" [(ngModel)]="contact.email">
            </div>

          </div>
        </div>

        <!--Phone-->
        <div class="row ">
          <label class="col-sm-3 col-form-label">تلفن</label>
          <div class="col-sm-9">

            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="align-bottom fa fa-phone"></i></span>
              </div>
              <input id="phone" type="text" name="phone" class="form-control ltr" placeholder="0912XXXXXXXX" [(ngModel)]="contact.phone">
            </div>

          </div>
        </div>

      </div>

      <div class="modal-footer">
        <div class="text-right w-100">
          <button type="button" class="btn btn-default ml-2" (click)="createContact()">ایجاد</button>
          <button type="button" class="btn btn-defaults" (click)="hide()">لغو</button>
        </div>
      </div>
    </div>



  </div>

</div>
