.date-title-container{
  margin-bottom: 5px;
  background: rgb(255,255,255);
  background: linear-gradient(-90deg,
  rgb(234, 234, 234) 50%,
  rgba(255,255,255,0) 100%,
  rgba(255,255,255,0) 0%
  );
  text-align: right;
}

.date-title{
  padding: 5px 15px;
  background: transparent;
}

.owl{
  max-height: 250px;

}
.meeting-container{
}

.meeting-item:not(:last-child) {
  /*border-bottom: 1px dotted #9da3a6;*/
}

.search-input{
  font-size: 17px;
}

.load-more-btn:hover{
  background: #3a3f48;
  color: white;
}
.load-more-btn{
  border: 1px solid transparent;
}

.date-title-container.selected{
  font-weight: 900;
}
