<meeting-item-modal #meetingModal  [event]="selectedMeeting"></meeting-item-modal>
<div class=" h-100 p-3 meeting-container ">
  <div class="p-3 overflow-auto h-100 ">
    <div class="w-100 ">
      <div class="row">

        <div class="col-md-5">
          <calendar #calendar [mode]="'inline'" (onDateSelected)="onDateChanged($event)"></calendar>
        </div>
        <div class="col-md-7">
          <input type="text" class=" search-input"
                 [(ngModel)]="filter"
                 placeholder='جستجو با ایمیل، نام و ... '/>
        </div>

      </div>
    </div>
    <div class="mt-2 text-center sticky" *ngIf="selectedDate">
      <div class="date-title-container">
        <div class="date-title  ">
          <i class=" fa fa-calendar ml-2"></i>
          {{dateService.greToPersian(selectedDate, true)}}
        </div>
      </div>
    </div>
    <div class="text-center owl-container" *ngIf="!loading && (!meetings || meetings.length === 0)">
      <object class="w-75" type="image/svg+xml" data="../../assets/images/home/owl.svg">
        <param name="class" value="look-around" />
      </object>
    </div>

    <spinner [showing]="loading" #spinner></spinner>

    <div class="meeting-item" *ngFor="let event of meetings | generalFilter:filter" >
      <meeting-item (clicked)="onMeetingClick($event)"
                    class="mt-2" [event]="event">
      </meeting-item>
    </div>
  </div>
</div>

