<div class="entry-content text-right bg-white p-5 ">
  <div class='' >
    <p class='font-weight-bold'><i class='fa fa-circle ml-2' ></i>مجوز ورود که برای من صادر شده کار نمیکند؟</p>
    <p class='pr-4'>لطفا با برگزار کنند جلسه تماس بگیرید، در صورت لزوم ایشان با ما باید تماس بگیرد.</p>
  </div>

  <div class='' >
    <p class='font-weight-bold'><i class='fa fa-circle ml-2' ></i>برگزار کننده ملاقات از من درخواست پول کرده ایا پرداخت کنم؟</p>
    <p class='pr-4'>خیر ابداَ این کار را نکنید، اگر همایش رایگان نباشد تنها از سمت سامانه شالاپ میتوانید پرداخت کنید و اطلاعات پرداخت برای شما نمایش داده خواهد شد.  لطفا اطلاعات فرد مورد نظر را به ما اطلاع دهید.</p>
  </div>

  <div class='' >
    <p class='font-weight-bold'><i class='fa fa-circle ml-2' ></i>شالاپ در دسترس نیست؟</p>
    <p class='pr-4'>اگر این پیام را میخوانید یعنی در دسترس است، اگر از مکان بخصوصو مانند اداره یا منزل دسترسی ندارید لطفا با ارائه کننده اینترنت تماس بگیرید.</p>
  </div>

  <div class='' >
    <p class='font-weight-bold'><i class='fa fa-circle ml-2' ></i>شالاپ یعنی چی؟</p>
    <p class='pr-4'>خب شالاپ هیچ معنی ندارد!!. شالاپ یک آوا هست که عبارت است از آوایی که هنگام انداختن یک شئ در آب ایجاد میشود.</p>
  </div>

  <div class='' >
    <p class='font-weight-bold'><i class='fa fa-circle ml-2' ></i>ایا شالاپ رایگان است؟</p>
    <p class='pr-4'>بله استفاده ازاکثر امکانات شالاپ رایگان میباشد.</p>
  </div>

  <div class='' >
    <p class='font-weight-bold'><i class='fa fa-circle ml-2' ></i>آیا میتوانیم شالاپ را به صورت نصب در محل ( On premise ) استفاده کنیم؟</p>
    <p class='pr-4'>برای این منظور باید با تیم فروش تماس بگیرید و محصول sholop for enterprise  را استفاده نمایید.</p>
  </div>

  <div class='' >
    <p class='font-weight-bold'><i class='fa fa-circle ml-2' ></i>آیا میتوانم با تغییر شالاپ ان را بفروشم؟</p>
    <p class='pr-4'>خیر همچین امکانی وجود ندارد و ما این حق را داریم که با تمام قوت و اقتدار و به صورت قانونی روزگار شما را تیره و تار کنیم!!</p>
  </div>

  <div class='' >
    <p class='font-weight-bold'><i class='fa fa-circle ml-2' ></i>آیا میتوانم خدمات شالاپ را بفروشم به عنوان مثال با قرار دادن اپلیکیشن شالاپ در سایت خود؟</p>
    <p class='pr-4'>خیر مگر انکه اجازه رسمی از مجموعه شالاپ داشته باشید.</p>
  </div>

  <div class='' >
    <p class='font-weight-bold'><i class='fa fa-circle ml-2' ></i>آیا نیاز به ثبت شرکت برای استفاده از شالاپ است؟</p>
    <p class='pr-4'>خیر هر کسی میتواند به راحتی از ان استفاده کند.</p>
  </div>

  <div class='' >
    <p class='font-weight-bold'><i class='fa fa-circle ml-2' ></i>اگر فردی در شالاپ از اسم و عنوان من سو استفاده کرد و با نام من همایش برقرار کرد چه کنم؟</p>
    <p class='pr-4'>لطفا با ما تماس بگیرید و اطلاعات کامل را بفرمایید مطمعن باشید در صورتی که مشکل تشابه اسم وجود نداشته باشد با این موارد برخورد میکنیم.</p>
  </div>

  <div class='' >
    <p class='font-weight-bold'><i class='fa fa-circle ml-2' ></i>آیا یک کاربر میتواند چند حساب کاربری داشته باشد؟</p>
    <p class='pr-4'>بله.</p>
  </div>

</div>
