
<div class="card">
  <div class="card-body">
    <!-- Header -->
    <div class="form-header blue accent-1">
      <h5 class="mt-2 mb-4 text-right"><i class="fa fa-question"></i> سوالات متداول</h5>
    </div>

    <div class="entry-content text-right">
      <div class='' >
        <p class='font-weight-bold'><i class='fa fa-circle ml-2' ></i>آیا این یک سوال متداول است؟</p>
        <p class='pr-4'>بله،‌این نشاندهنده ی هوش سرشار و خلاقیت خارق العاده ی شماست که فهمیدید این یک سوال متداول است.</p>
      </div>
    </div>
  </div>
</div>

