<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body class="" style="font-family:Tahoma,sans-serif; font-size: 14px; line-height: 1.4; margin: 0; padding: 0;">
<div width="100%" style="min-width:100%!important;margin:0!important;padding:0!important;text-align: right;direction: rtl;">
    <table width="100%" cellpadding="0" cellspacing="0">
        <tbody><tr>
            <td>
                <table align="center" cellpadding="5" cellspacing="0" style="width:100%;max-width:630px">
                    <tbody>
                    <tr>
                        <td align="left" style="display:block">
                            <table width="100%">
                                <tbody><tr>
                                    <td align="left" style="display:block">
                                        <a align="left" href="">
                                            <img align="left" src="http://185.173.104.77/assets/images/Sholop-Logo.png" border="0" width="90" height="30" class="CToWUd">
                                        </a>
                                    </td>
                                </tr>
                                </tbody></table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table width="100%" cellpadding="0" cellspacing="0" style="border:0px solid #909090">
                                <tbody><tr>
                                    <td>
                                        <table width="100%" cellpadding="8" cellspacing="0">
                                            <tbody><tr>
                                                <td>
                                                    <a align="right" href="">به شالاپ خوش آمدید.</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding:0px 8px"><hr align="center" style="color:#a0a0a0"></td>
                                            </tr>
                                            </tbody></table>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <table width="100%" align="right" cellpadding="8" cellspacing="0">
                                            <tbody><tr>
                                                <td colspan="2" style="font-size:15px">
                                                    $name عزیز،  <br> از این که به ما پیوستید خوشحالیم. لطفاً برای تأیید آدرس ایمیلتان روی لینک زیر کلیک کنید.
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="center">
                                                    <a href="">
                                                        <table>
                                                            <tbody><tr>
                                                                <td width="150" style="background-color:#3f75b7;border-radius:0.25em;text-align:center;padding:6px 17px;border:1px solid #3f75b7">
                                                                    <a href="$confirm-email-address" style="text-underline:none;text-decoration:none;color:#ffffff;letter-spacing:0.3px;font:14px/17px tahoma" rel="noreferrer" target="_blank">تأیید ایمیل</a>
                                                                </td>
                                                            </tr>
                                                            </tbody></table>
                                                    </a>
                                                </td>
                                            </tr>
                                            </tbody></table>
                                    </td>
                                </tr>
                                </tbody></table>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding:0px">
                            <table align="center">
                                <tbody><tr width="100%" style="font-family:tahoma,sans-serif;color:#666;font-size:12px">
                                    <td style="padding-top:10px">
                                        <div style="float:left;width:100%;font:12px/15px tahoma;padding:10px 0 0 0;text-align:center">
                                            <a href="$website-url">سایت شالاپ</a>
                                            |
                                            <a href="$email-settings">تنظیمات دریافت ایمیل</a></div>
                                    </td>
                                </tr>
                                </tbody></table>
                        </td>
                    </tr>
                    </tbody></table>
            </td>
        </tr>
        </tbody></table>
</div>
</body>
</html>