.items{
  top: 100%;
  right: 0;
  width: 100%;
  position: absolute;
  z-index: 10;
  max-height: 200px;
  overflow: auto;


  border-radius: .4em;
  -webkit-box-shadow: 0 3px 8px rgba(0,0,0,.25);
  box-shadow: 0 3px 8px rgba(0,0,0,.25);
  background: #f5f7fa;
  -webkit-transition: opacity .3s linear;
  transition: opacity .3s linear;
}

.item:last-child{
  border-bottom: none;
}
.item:hover{
  background: #E0E2E6;
}
.item.selected{
  background: #184e88;
  /* font-weight: bold; */
  color: white;
}
.item{
  border-bottom: 1px dotted #9da3a6;
  cursor: pointer;
}

.contact_name{
  line-height: 2;
}

.contact-image{
  width: 30px;
  height: 30px;
}

.frame{
  line-height: 2.5;
  text-align: right;
}
