<!-- import contact Modal -->
<modal #selectVenues
       [modalTitle]="'مکان جلسات'"
       [zIndex]="5"
       [width]="700"
       [maximizable]="true">
  <ng-container class="app-modal-body">

    <div class="container">


      <div class="row p-2 border" *ngFor="let venue of venues">
        <!--description: ""
            englishAddress: "اصفهان، استان اصفهان، ایران"
            farsiAddress1: "اصفهان، استان اصفهان، ایران"
            farsiAddress2: "اینجا"
            id: 53
            latitude: 32.6546275
            longitude: 51.66798259999996
            title: "این عنوان درست نشد"
            userId: 0-->

        <div class="col-md-3">
          <agm-map class="map" [latitude]="venue.latitude" [longitude]="venue.longitude" [scrollwheel]="true" [zoom]="12">
            <agm-marker [markerDraggable]="false" [latitude]="venue.latitude" [longitude]="venue.longitude"></agm-marker>
          </agm-map>
        </div>

        <div class="col-md-7">
          <p>{{venue.title}}</p>

          <div><span class="text-muted">{{venue.farsiAddress1}}</span> </div>
          <div><span class="text-muted">{{venue.farsiAddress2}}</span> </div>
        </div>

        <div class="col-md-2 text-left">
          <button class="btn btn-outline-primary" (click)="onVenueSelected(venue)"><i class="fa fa-check"></i> انتخاب</button>
        </div>


      </div>



    </div>

    <div class="text-center" *ngIf="venues.length === 0 && !loading">
      <object class="w-25" type="image/svg+xml" data="../../assets/images/owl.svg">
        <param name="class" value="look-around" />
      </object>
      <div class="text-muted">هیچی پیدا نکردم</div>
    </div>

    <spinner #spinner [showing]="loading"></spinner>



  </ng-container>
  <ng-container class="app-modal-footer">
    <!--<button type="button" class="btn btn-default">Delete</button>&nbsp;-->
    <!--<button type="button" class="btn btn-default">Save</button>-->
    <div class="text-right">
      <button type="button" class="btn btn-default" (click)="selectVenues.hide()">لغو</button>
    </div>
  </ng-container>
</modal>
