<!-- import contact Modal -->
<modal #selectVenues
       [modalTitle]="'مکان جلسات'"
       [zIndex]="10"
       [width]="700"
       [size]="'lg'"
       [maximizable]="true">
  <ng-container class="app-modal-body">

    <div class="row p-3">
      <div class="shadow p-2 col-md-6 venue-frame" (click)="onVenueSelected(venue)" *ngFor="let venue of venues">

        <div class="row">
          <div class="col-md-3">
            <agm-map class="map" [latitude]="venue.latitude" [longitude]="venue.longitude" [scrollwheel]="true" [zoom]="12">
              <agm-marker [markerDraggable]="false" [latitude]="venue.latitude" [longitude]="venue.longitude"></agm-marker>
            </agm-map>
          </div>

          <div class="col-md-7">
            <p>{{venue.title}}</p>

            <div><span class="text-muted">{{venue.farsiAddress1}}</span> </div>
            <div><span class="text-muted">{{venue.farsiAddress2}}</span> </div>
          </div>

        </div>
      </div>
    </div>


    <div class="text-center owl-container" *ngIf="venues.length === 0 && !loading">
      <object class="w-75" type="image/svg+xml" data="../../assets/images/owl-old/owl.svg">
        <param name="class" value="look-around" />
      </object>
      <div class="text-muted">هیچی پیدا نکردم</div>
    </div>

    <spinner #spinner [showing]="loading"></spinner>



  </ng-container>
  <ng-container class="app-modal-footer">
    <!--<button type="button" class="btn btn-default">Delete</button>&nbsp;-->
    <!--<button type="button" class="btn btn-default">Save</button>-->
    <div class="text-right">
      <button type="button" class="btn secondary" (click)="selectVenues.hide()">لغو</button>
    </div>
  </ng-container>
</modal>
