<div class="">
  <div [class]="'meeting-item  ' + event.status" (click)="onClicked($event, event)">

    <div class="p-2">

      <div class="row ">

        <div class="col-md-4" >

          <div class="panel text-right" >

            <div class="contact-image-container " *ngFor="let contact of event.attendees;">
              <img class="contact-image rounded-circle shadow" [src]="contact.imageUrl ? contact.imageUrl : '../assets/images/user-placeholder.png'">
            </div>

            <span class="mr-2">  {{attendeesString}}  </span>
          </div>

        </div>

        <div class="col-6 meeting-time text-right" >

          <i class="fa fa-clock-o ml-3"></i>
          <span *ngIf="event.fromDate" class="meeting-time">
            <span> از </span>
            <span>{{dateService.greToPersian(event.fromDate)}}</span>
          </span>

          <span *ngIf="event.toDate" class="meeting-time">
            <span> تا </span>
            <span>{{dateService.greToPersian(event.toDate)}}</span>
          </span>
        </div>


        <div [class]="'col-md-2 '">
          {{commonService.getEventStatus(event.status).text}}
        </div>
      </div>


    </div>

  </div>
</div>
