.contact-image-container:first-child{
  margin-right: 0;
}
.contact-image-container{
  display: inline-block;
  margin-right: -20px;
  color: white;
}
.contact-image{
  width: 40px;
  height: 40px;
  /* padding: 5px; */
}

.meeting-item{
  cursor: pointer;

  font-size: 16px;

  line-height: 2;
  padding: 5px 15px;
  color: #161a1e;
  background: #fff;
  border-bottom-color: rgb(157, 163, 166);
}

.meeting-tool:hover{
  color: white;
}
.meeting-tool{
  cursor: pointer;
  /* color: dimgrey; */
  color: gray;
  border-radius: 50%;
}

.dropdown-item{
  cursor: pointer;
}

.meeting-time .fa{
  font-size: 20px;
}

.meeting-item.DONE,
.meeting-item.CANCELLED{
  opacity: .4;
}

/*.meeting-item.DONE{background: rgba(0, 77, 0, 0.05)}*/
/*.meeting-item.CANCELLED{background: rgba(128, 128, 128, 0.1)}*/
/*.meeting-item.TO_BE{background: rgba(0, 77, 0, 0.05)}*/
/*.meeting-item.GETTING_LATE{background: rgba(154, 205, 50, 0.05)}*/
/*.meeting-item.LATE{background: rgba(255, 255, 0, 0.05)}*/
/*.meeting-item.GOING_ON{background: rgba(0, 77, 0, 0.05)}*/

.meeting-item:hover{
  /*animation: meeting-item-hover .05s ease both;*/
  /*-webkit-box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);*/
  /*box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);*/
  /**/
  opacity: 1!important;
  background-color: rgba(0,112,186,.1);
  left: -.75rem;
  top: 0;
  height: 100%;
  width: calc(100% + 1.5rem);
  z-index: -1;
  border-left: 3px solid #0070ba;
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
}
@keyframes meeting-item-hover {
  0% {
    margin-left: 0;
    margin-right: 0;
  }

  100% {
    margin-left: -.5%;
    margin-right: -.5%;
  }
}
