<div class="h-100 overflow-auto " >

  <div class="text-right bg-white p-3">

    <!-- dates -->
    <div class="frame">
      <label class="font-weight-bold">اعتبار اجازه ورود</label>
      <div class="frame flexbox-parent-row">
        <i class=" ml-3 icon fa fa-clock-o"></i>
        <select class="flexbox-item-grow">
          <option value="0">انتخاب کنید</option>
          <option value="1">تا آخر امروز</option>
          <option value="2">دو روز</option>
          <option value="3">سه روز</option>
          <option value="7">یک هفته</option>
          <option value="30">یک ماه</option>
          <option value="-1">همیشه</option>
        </select>
      </div>
    </div>

    <div class="box">
      <div class="custom-control custom-checkbox p-2">
        <input type="checkbox" class="custom-control-input" [(ngModel)]="event.oneTime" id="oneTime">
        <label class="custom-control-label" for="oneTime">مجوز یک بار مصرف است</label>
      </div>
    </div>

    <div class="box">

      <div class="">
        <label class="font-weight-bold">محل ملاقات</label>
        <app-map #map></app-map>
      </div>

    </div>

    <!-- guests -->
    <div class="box">
      <label class="font-weight-bold">میهمانان</label>
      <app-guests></app-guests>
    </div>

    <!-- buttons -->
    <div class="text-right">
      <button type="button" [disabled]="submitting" class="primary " (click)="onSubmit()">صدور اجازه ورود<i *ngIf="submitting" class="fa fa-refresh fa-spin"></i></button>
    </div>
  </div>


</div>
