.contact-image:first-child{
  margin-left: 0;
}

.contact-image-td{
  width: 50px;
}
.contact-image{
  width: 35px;
  height: 35px;
}


.meeting-item{
  cursor: pointer;
}

.meeting-item:hover{
  background: #f5f5f5;
}


table td{
  vertical-align: middle;
}

.map{
  height: 150px;
}
