.image-container{
  /*border: 1px solid #bbb;*/
  /*border-radius: 3px;*/
  position: relative;
  /*max-width: 200px;*/
  /*height: auto;*/
}

.image-element{
  width: 100%;
  height: auto;
}

.image-remove:hover{
  color: red;
}
.image-remove{position: absolute;
  right: 15px;
  top: 0;
  background: #ffffff91;
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
  padding: 5px;
}
