<div class="container" >

  <form class="sholop_form" ng-show="meetingStep==1" >

    <!--Title-->
    <div class="form-group row ">
      <span class="align-bottom col-sm-1 "><i class="align-bottom fa fa-list"></i></span>
      <label class="col-sm-2 col-form-label">Title</label>
      <div class="col-sm-9">
        <input id="title" type="text" name="title" class="form-control" placeholder="Title" ng-model="event.title">
      </div>
    </div>

    <!-- Image -->
    <modal #imageCropper
               [modalTitle]="'Edit Image Size'"
               [width]="900"
               [zIndex]="5"
               [maximizable]="true"
               (close)="onCloseModal()">
      <ng-container class="app-modal-body">
        <img-cropper [image]="data1" [settings]="cropperSettings1" (onCrop)="cropped($event)"></img-cropper>
      </ng-container>
      <ng-container class="app-modal-footer">
        <!--<button type="button" class="btn btn-default">Delete</button>&nbsp;-->
        <!--<button type="button" class="btn btn-default">Save</button>-->
        <div class="text-right">
          <button type="button" class="btn btn-default" (click)="imageCropper.hide()">Close</button>
        </div>
      </ng-container>
    </modal>

    <div class="form-group row " *ngIf="data1.image">
      <span class="align-bottom col-sm-1 "><i class="align-bottom fa fa-list"></i></span>
      <label class="col-sm-2 col-form-label">Image</label>
      <div class="col-sm-9">
        <img [src]="data1.image"
             class="w-100"
             [width]="croppedWidth"
             [height]="croppedHeight"
             (click)="imageCropper.show();"
        />
      </div>
    </div>

    <!--Times-->
    <div class="form-group row " *ngFor="let time of event.times; let i = index" [attr.data-index]="i">
      <span class="align-bottom col-sm-1"><i *ngIf="i===0" class="align-bottom fa fa-calendar"></i></span>
      <label class="col-sm-2 col-form-label"><span *ngIf="i===0">Times</span></label>
      <div class="col-sm-3">
        <date [inputClasses]="'form-control'"></date>
      </div>
      <div class="col-sm-2">
        <select class="form-control">
          <option disabled selected value="">-- : --</option>
          <option *ngFor="let x of times">{{x}}</option>
        </select>
      </div>
      <div class="col-sm-2">
        <select class="form-control">
          <option disabled selected value="">-- : --</option>
          <option *ngFor="let x of times">{{x}}</option>
        </select>
      </div>
      <div class="col-sm-2">
        <button class="w-100 btn btn-outline-primary" [disabled]="event.times.length===1" (click)="removeDateTime($event, i)"><span class=""><i class="fa fa-times"></i> Remove</span></button>
      </div>
    </div>
    <div class="form-group row ">
      <div class="col-sm-10">
      </div>
      <div class="col-sm-2">
        <button class="w-100 btn btn-outline-primary" (click)="addDateTime($event)"><span class=""><i class="fa fa-plus"></i> Add Date</span></button>
      </div>
    </div>

    <!--Location-->
    <div class="form-group row">
      <span class="align-bottom col-sm-1 "><i class="align-bottom fa fa-map-marker"></i></span>
      <label class="col-sm-2 col-form-label">Location</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="location_1" size=80
               ng-model="event.location.farsiAddress1"
               #searchBox name="title" placeholder="Addresss 1" />
      </div>
    </div>
    <div class="form-group row">
      <span class="col-sm-3"></span>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="location_2" size=80
               ng-model="event.location.farsiAddress1"
               #address2 on-place-changed="vm.placeChanged()" name="title" placeholder="Addresss 2" />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-9" >
        <div class="form-group" id="map" #gmap style="height:200px"></div>
      </div>
    </div>

    <!--<div class="form-group row">
      <span class="align-bottom col-sm-1 "><i class="align-bottom fa fa-sticky-note"></i></span>
      <label class="col-sm-2 col-form-label">Description</label>
      <div class="col-sm-9">
        <textarea id="note" type="text" rows="3" class="form-control" name="title" placeholder="Description" ng-model="event.description"></textarea>
      </div>
    </div>-->


    <div layout="row" class="">
      <button type="button" class="btn btn-outline-primary pull-right" (click)="onSubmit()" >OK</button>
      <button type="button" class="btn btn-outline-primary" >Cancel</button>
    </div>

  </form>


</div>
