<modal [modalTitle]=" 'ثبت محل ملاقات جدید' "
       [size]="'md'"
       [zIndex]="11" #childModal>

  <ng-container class="app-modal-body">

    <div>
      <label class="text-right">محل ملاقات</label>
      <input type="text" class="mb-2" size="80"
             [(ngModel)]="venue.farsiAddress1"
             autocomplete="off"
             #searchBox name="address_1" placeholder="شهر،‌ خیابان" />
    </div>
    <div class=" ">
      <input type="text" class="mb-2" size="80"
             [(ngModel)]="venue.farsiAddress2"
             #address2  name="address_2" placeholder="کوچه،‌ پلاک، واحد" /> <!--on-place-changed="vm.placeChanged()"-->
    </div>

    <agm-map class="map" [latitude]="venue.latitude" [longitude]="venue.longitude" [scrollwheel]="true" [zoom]="zoom">
      <agm-marker [markerDraggable]="true" (dragEnd)="markerMoved($event)" [latitude]="venue.latitude" [longitude]="venue.longitude"></agm-marker>
    </agm-map>

  </ng-container>

  <ng-container class="app-modal-footer">
    <button type="button" class="btn primary ml-2" (click)="createVenue()">ذخیره</button>
    <button type="button" class="btn secondary" (click)="hide()">لغو</button>
  </ng-container>

</modal>
