.navbar a{
  color: #fff;
}
.navbar a:hover{
  color:#111111;
}
.navbar{
  background-color: #0070ba;
  padding: 0;
  border-bottom: #444;
}
.dropdown-menu .fa{
  width: 25px;
  text-align: center;
  font-size: 20px;
  margin-left: 15px;
}
.navbar-nav .dropdown-menu a{
  color: #3a3f48;
}

.dropdown-menu{
  font-size: 15px;
  text-align: right;
  color: #0070ba;

  width: fit-content;

  z-index: 1050;
  right: 0;

  border-radius: .4em;
  -webkit-box-shadow: 0 3px 8px rgba(0,0,0,.25);
  box-shadow: 0 3px 8px rgba(0,0,0,.25);
  background: #f5f7fa;
  -webkit-transition: opacity .3s linear;
  transition: opacity .3s linear;
}

.dropdown-item{
  padding: 10px 20px;
}

.dropdown-toggle::after {
  margin-right: 10px;
  vertical-align: -1px;
  margin-left: 0;
  content: "";
  font-size: 15px;
}
.navbar-nav {
  padding: 5px;
}
.navbar-nav .dropdown-menu {
  position: absolute;
  float: none;
  left: 0;
}
.nav-item.active:after{
  content: ' ';
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  background-color: white;
}
.nav-item{
  position: relative;
  padding: 5px;
  color: white;
  text-align: center;
  width: 50px;
}
.nav-text{
  display: block;
  font-size: 12px;
}
.nav-icon{
  font-size: 25px;
  line-height: 1;
}
