.navbar.navbar-expand-lg a{
  color:grey;
}
.navbar.navbar-expand-lg a:hover{
  color:white;
}
.navbar.navbar-expand-lg{
  background-color: #E0E2E6;
}

.navbar{
  padding: 0;
}


.right-0{
  right: 0;
  left: unset;
}
.contact-image{
  width: 25px;
  height: 25px;
  margin-right: 5px;
}


.dropdown-menu{
  z-index: 1050;
  left: 0;
}

/*.navbar-light .navbar-nav .nav-link.colored-navbar-item:hover{
  -webkit-animation-duration: 400ms;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-name: shakeAnimation;
  -moz-animation-duration: 400ms;
  -moz-animation-timing-function: ease-in-out;
  -moz-animation-name: shakeAnimation;

}
.navbar-light .navbar-nav .nav-link.colored-navbar-item{
  background: royalblue;
  color: white;
  border-radius: 4px;
  -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  -moz-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  -o-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
}*/
