<nav class="navbar navbar-expand-lg flexbox-parent-row position-relative" >
  <div class=" ml-1" id="navbasrText">
    <ul class="navbar-nav me-auto ">

      <li class="nav-item dropdown" *ngIf="authService.isLoggedIn()">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <div class="user-item ">
            <img class="user-img" [src]="authService.imageUrl" alt="User picture">
          </div>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/profile">
            <div class="user-info flexbox-item-grow">
              <app-profile-navbar></app-profile-navbar>
            </div>
          </a>
          <a class="separator"></a>
          <a class="dropdown-item" routerLink="/login" ><i class="pr-2 fa fa-sign-out"></i>خروج</a>
        </div>
      </li>
    </ul>
  </div>

  <div class="navbar-toggler" *ngIf="!authService.isLoggedIn()"  data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fa fa-ellipsis-v"></i>
  </div>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" *ngIf="!authService.isLoggedIn()">
    <ul class="navbar-nav me-auto ">

      <li class="nav-item">
        <a class="nav-link" routerLink="/register">ثبت نام</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login">ورود</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/create-meeting">ایجاد ملاقات</a>
      </li>
    </ul>
  </div>


  <div class="search-container flexbox-item-grow " id="" *ngIf="authService.isLoggedIn()">
      <input class="form-control w-100" type="search" placeholder="بگردید..." aria-label="Search">
  </div>

  <div class="mr-auto ml-1" id="navbarText">
    <ul class="navbar-nav mr-auto ">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle mr-3" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img src="assets/images/Sholop-Logo-White.png" alt="" width="50"/>
        </a>
        <div class="dropdown-menu left" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/about-us">
            <i class="fa fa-info"></i>
            <span>درباره ما</span>
          </a>
          <a class="dropdown-item" routerLink="/conditions">
            <i class="fa fa-gavel"></i>
            <span>قوانین سایت</span>
          </a>
          <a class="dropdown-item" routerLink="/faq">
            <i class="fa fa-question"></i>
            <span>سؤالات متداول</span>
          </a>
          <a class="dropdown-item" routerLink="/contact-us">
            <i class="fa fa-envelope"></i>
            <span>تماس با ما</span>
          </a>
        </div>
      </li>
    </ul>
  </div>

</nav>


