.navbar a{
  color: #fff;
}
.navbar a:hover{
  /*color:#ffcc00;*/
}
.navbar{
  background-color: #17A2B9;
  /*background-color: #0070ba;*/
  padding: 0;
  border-bottom: #444;
}
.dropdown-menu .fa{
  width: 25px;
  text-align: center;
  font-size: 20px;
  margin-left: 15px;
}
.navbar .dropdown-item{
  color: #3a3f48;
}

.navbar .dropdown-item:hover,
.navbar .dropdown-item:active {
  /*color: white;*/
  background-color: #c6c6c6;
}

.navbar-collapse.collapsing,
.navbar-collapse.collapse.show{
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 1050;
  padding: 10px;

  width: fit-content;

  border-radius: .4em;
  -webkit-box-shadow: 0 3px 8px rgba(0,0,0,.25);
  box-shadow: 0 3px 8px rgba(0,0,0,.25);
  background-color: #674200;
}

.dropdown-menu{
  font-size: 15px;
  text-align: right;
  color: #0070ba;

  width: fit-content;

  z-index: 1050;
  right: 0;
  position: absolute;

  border-radius: .4em;
  -webkit-box-shadow: 0 3px 8px rgba(0,0,0,.25);
  box-shadow: 0 3px 8px rgba(0,0,0,.25);
  background: #f5f7fa;
  -webkit-transition: opacity .1s linear;
  transition: opacity .1s linear;
  padding: 0;
}
.dropdown-menu.left{
  text-align: right;
  right: auto;
}

.dropdown-item{
  padding: 1px 20px;
}

.dropdown-toggle::after {
  margin-right: 4px;
  vertical-align: 0;
  margin-left: 0;
  content: "";
  font-size: 15px;
}
.navbar-nav {
  padding: 0;
  display: flex;
  /*flex-direction: inherit;*/
  margin-bottom: 0;
  list-style: none;
  line-height: 2.4;
}
.nav-text{
  display: block;
  font-size: 12px;
}
.nav-icon{
  font-size: 25px;
  line-height: 1;
}

.nav-item{
  margin-left: 15px;
}

.toggle-item .nav-text{
  font-size: 20px;
}
@media screen and (min-width: 768px) {
  .toggle-item{
    display: none;
  }
}


.user-item{
  display: inline-block;
}
.user-img{
  width: 35px;
  border-radius: 50%;
  height: 35px;
  margin-left: 5px;
}
.user-nav-item{
  background: #6c5353;
}

button{
  margin-left: 5px;
}

.search-container{
  /*flex-grow: 1;*/
  /*margin: 0 10px*/
  max-width: 400px;
}
#navbarSupportedContent{
  flex-grow: 0;
}

.navbar-toggler{
  color: white;
}

.separator{
  width: 100%;
  height: 1px;
  background: #cccccc;
  display: block;
}
