<nav class="navbar flexbox-parent-row" >

  <div class="nav-item toggle-item"  *ngIf="authService.isLoggedIn()">
    <!--    <i class="nav-icon fa fa-sign-out"></i>-->
    <a class="nav-text" [routerLink]="" (click)="toggle.emit()">
      <i class="fa fa-bars"></i>
    </a>
  </div>

  <ul class="navbar-nav">
    <li class=" dropdown ">
      <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
         aria-haspopup="true" aria-expanded="false">
        <img src="../assets/images/Sholop-Logo-White.png" class="rounded" alt width="80">
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <li>
          <a class="dropdown-item" routerLink="/about-us">
            <i class="fa fa-info"></i>
            <span>درباره ما</span>
          </a>
        </li>
        <li>
          <a class="dropdown-item" routerLink="/conditions">
            <i class="fa fa-gavel"></i>
            <span>قوانین سایت</span>
          </a>
        </li>
        <li>
          <a class="dropdown-item" routerLink="/faq">
            <i class="fa fa-question"></i>
            <span>سؤالات متداول</span>
          </a>
        </li>
        <li>
          <a class="dropdown-item" routerLink="/contact-us">
            <i class="fa fa-envelope"></i>
            <span>تماس با ما</span>
          </a>
        </li>
      </ul>
    </li>
  </ul>

  <!--<div class="nav-item" [class.active]="navigationService.isHome()">
    <i class="nav-icon fa fa-home"></i>
    <a class="nav-text" [routerLink]="[authService.isLoggedIn() ? '/meetings' : '/home']">خانه</a>
  </div>-->

  <!--Separator-->
  <div class="flexbox-item-grow"></div>

  <div class="nav-item"  *ngIf="authService.isLoggedIn()">
<!--    <i class="nav-icon fa fa-sign-out"></i>-->
    <a class="nav-text" [routerLink]="'/login'">خروج</a>
  </div>

  <div class="nav-item"  *ngIf="!authService.isLoggedIn()">
    <!--    <i class="nav-icon fa fa-sign-out"></i>-->
    <a class="nav-text" [routerLink]="'/login'">ورود</a>
  </div>

  <div class="nav-item"  *ngIf="!authService.isLoggedIn()">
    <!--    <i class="nav-icon fa fa-sign-out"></i>-->
    <a class="nav-text" [routerLink]="'/register'">ثبت نام</a>
  </div>

</nav>

