<footer class=" ">
  <div class="container">

    <!--<div class="row text-right rtl">
      <div class="col-6 col-md">

      </div>
      <div class="col-6 col-md">
        <h5>Features</h5>
        <ul class="list-unstyled text-small">
          <li>
            <a class="text-muted" href="#">Easy access to full message history</a>
          </li>
          <li>
            <a class="text-muted" href="#">Organise meetings with few clicks</a>
          </li>
          <li>
            <a class="text-muted" href="#">Free for both commercial and personal users</a>
          </li>
          <li>
            <a class="text-muted" href="#">Location finder functionality</a>
          </li>
          <li>
            <a class="text-muted" href="#">Issue the ID badges</a>
          </li>
          <li>
            <a class="text-muted" href="#">Different access level for staffs</a>
          </li>
        </ul>
      </div>
      <div class="col-6 col-md">
      <h5>About Us</h5>
      <ul class="list-unstyled text-small">
        <li>
          <a class="text-muted" href="#">Wise Aspect Limited</a>
        </li>
        <li>
          <a class="text-muted" href="#">Contact Us</a>
        </li>
        <li>
          <a class="text-muted" href="#">Terms and Conditions</a>
        </li>
        <li>
          <a class="text-muted" href="#">FAQ</a>
        </li>
      </ul>
    </div>
    </div>-->

    <div class="text-center ltr english_font">
      <a href="" class="ml-3 social-network-icon"><i class="fa fa-linkedin "></i></a>
      <a href="" class="ml-3 social-network-icon"><i class="fa fa-google-plus"></i></a>
      <a href="" class="ml-3 social-network-icon"><i class="fa fa-twitter"></i></a>
      <i class="fa fa-copyright ml-3 social-network-icon"></i>
      Powered by
      <a href="http://wiseaspect.co.uk">Wise Aspect Limited</a> |
      <span class="text-center english_font">Version {{version}}</span>
    </div>
  </div>
</footer>
