
  <div class="">
    <div class="frame flexbox-parent-row">
      <input type="text" class="flexbox-item-grow" size=80
             [(ngModel)]="venue.farsiAddress1"
             autocomplete="off"
             #searchBox name="address_1" placeholder="شهر،‌ خیابان">
      <div class="text-left"><i class="mr-2 action-icon input-button fa fa-search" (click)="onVenueImportClick($event)"></i></div>

    </div>

    <div class="frame flexbox-parent-row">
      <input type="text" class="flexbox-item-grow" :size=80
             [(ngModel)]="venue.farsiAddress2"
             #address2  name="address_2" placeholder="کوچه،‌ پلاک، واحد">
    </div>
    <venues-modal (onSelected)="onVenueSelected($event)" #venuesModal ></venues-modal>
  </div>

  <agm-map class="map"
           #map
           [latitude]="mapLat"
           [longitude]="mapLng"
           [zoom]="zoom"
           [mapDraggable]="true"
           (centerChange)="mapMoved($event)"
           (mapReady)="mapReady($event)"
           (mapClick)="mapClicked($event)">
    <agm-marker [markerDraggable]="false"

                [latitude]="venue.latitude" [longitude]="venue.longitude"></agm-marker>
  </agm-map>
