<div class="flex-parent">

  <div class="container mt-3 mb-3 grow" >

    <div class="card h-100 shadow">
      <div class="card-body flex-parent">

        <div class="row pb-2">

          <div class="col-md-2">
            <button type="button" class="btn btn-outline-primary w-100" (click)="addNewContact.reset();addNewContact.show()" >
              <i class="fa fa-user-plus"></i> مخاطب جدید
            </button>
            <add-contact (onContactAdded)="onContactAdded($event)" #addNewContact></add-contact>
          </div>

          <div class="col-md-10">

            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="align-bottom fa fa-search"></i></span>
              </div>
              <input id="search" type="text" name="search" (keyup)="onKeyUp($event)" [(ngModel)]="searchString" class="form-control" placeholder="نام، ایمیل، ..." >
            </div>

          </div>

        </div>

        <!--address: ""-->
        <!--created: "Oct 14, 2018 6:03:40 PM"-->
        <!--createdBy: 0-->
        <!--email: "atieh.ghazizadeh@gmail.com"-->
        <!--id: 46-->
        <!--modified: "Oct 2, 2018 12:00:00 AM"-->
        <!--modifiedBy: 1-->
        <!--name: "Iman Norouzi"-->
        <!--phone: "0435072839"-->
        <!--userId: 1-->
        <!--imageUrl: 1-->
        <!--valid: true-->


        <!--<div class="table-responsive contacts-table container text-right">
          <div class="table table-bordred table-striped w-100">

            <thead>
              <tr class="">
                <th></th>
                <th>نام</th>
                <th>ایمیل</th>
                <th>تلفن</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>

              <tr *ngFor="let contact of contacts; let index=index;">
                <td><img class="rounded-circle contact-image" [src]="contact.imageUrl ? contact.imageUrl : '../assets/images/user-placeholder.png'"></td>
                <td >{{contact.name}}</td>
                <td ><i class="fa fa-envelope"></i>  {{contact.email}}</td>
                <td ><i class="fa fa-phone"></i>  {{contact.phone}}</td>
                <td><a href="#">Edit</a></td>
                <td><a href="#" (click)="onDeleteUser(contact.id, index, $event)">Delete</a></td>
              </tr>

            </tbody>
          </div>
        </div>-->

        <div class="row">

          <div *ngFor="let contact of contacts; let index=index;" class="col-md-6 contact p-2 ">
            <div class="contact-border">
              <div class="row p-2 ">


                <div class="col text-right">

                  <!--<div class="rounded-circle contact-image text-center" [style.background]="utilService.getRandomColor()" *ngIf="!contact.imageUrl">
                    <span class=" font-weight-bold contact-letter">{{contact.name.substring(0,1)}}</span>
                  </div>-->

                  <img class="rounded-circle contact-image" [src]="contact.imageUrl ? contact.imageUrl : '../assets/images/user-placeholder.png'">
                </div>

                <div class="col-8 text-right">
                  <div class="font-noraml font-weight-bold" >{{contact.name}}</div>
                  <div class="text-muted"><i class="fa fa-envelope"></i>  {{contact.email}}</div>
                  <div class="text-muted"><i class="fa fa-phone"></i>  {{contact.phone}}</div>

                  <div>
                    <a href="#" class="ml-3" (click)="onEditContact(contact, index)">ویرایش</a>
                    <a href="#" (click)="onDeleteUser(contact.id, index, $event)">حذف</a>

                  </div>
                </div>

              </div>
            </div>
          </div>

          <confirm #confirm [message]="'مخاطب حذف شود؟'" (confirmed)="deleteConfirmed($event)"></confirm>
          <add-contact (onContactAdded)="onContactAdded($event)" #editContact></add-contact>

        </div>

        <div class="text-center" *ngIf="!loading && contacts.length === 0">
          <object class="w-25" type="image/svg+xml" data="../../assets/images/owl.svg">
            <param name="class" value="look-around" />
          </object>
          <div class="text-muted">هیچی پیدا نکردم</div>
        </div>

        <div class="row justify-content-center">
          <spinner [size]="'large'" #spinner [showing]="loading"></spinner>
        </div>
      </div>
    </div>
  </div>

</div>
