<div class="pt-3">

  <div class="flexbox-parent">
    <ul class="nav nav-tabs" id="myTab" role="tablist">

      <li class="nav-item" (click)="tab=2"  >
        <a class="nav-link" id="profile-tab"
           [class.active]="tab===2" data-toggle="tab"
           href="#profile" role="tab" aria-controls="profile"
           aria-selected="false">همکاران</a>
      </li>
      <li class="nav-item" (click)="tab=1">
        <a [class]="'nav-link ' " [class.active]="tab===1" id="home-tab" data-toggle="tab"
           href="#home" role="tab"
           aria-controls="home" aria-selected="true">مخاطب‌ها</a>
      </li>
    </ul>
    <div class="tab-content flexbox-item-grow" id="myTabContent">

      <div [class]="'tab-pane h-100 '+ (tab===2 ? 'show fade active': '')" id="profile" [class.active]="tab===2"  role="tabpanel" aria-labelledby="profile-tab">
        <app-employees #employees ></app-employees>
      </div>
      <div [class]="'tab-pane h-100 ' + (tab===1 ? 'show fade active': '')" id="home" role="tabpanel" aria-labelledby="home-tab">
        <app-contacts #contacts ></app-contacts>
      </div>
    </div>
  </div>
</div>
