<!-- import contact Modal -->
<modal #selectContacts
       [modalTitle]="'دعوت مخاطبان'"
       [zIndex]="10"
       [size]="'lg'"
       [maximizable]="true">
  <ng-container class="app-modal-body">

    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" (click)="tab=1">
        <a [class]="'nav-link ' " [class.active]="tab===1" id="home-tab" data-toggle="tab"
           href="#home" role="tab"
           aria-controls="home" aria-selected="true">مخاطب‌ها</a>
      </li>
      <li class="nav-item" (click)="tab=2"  >
        <a class="nav-link" id="profile-tab"
           [class.active]="tab===2" data-toggle="tab"
           href="#profile" role="tab" aria-controls="profile"
           aria-selected="false">همکاران</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div [class]="'tab-pane ' + (tab===1 ? 'show fade active': '')" id="home" role="tabpanel" aria-labelledby="home-tab">
        <app-guest-list #contacts [type]="'contact'"></app-guest-list>
      </div>
      <div [class]="'tab-pane '+ (tab===2 ? 'show fade active': '')" id="profile" [class.active]="tab===2"  role="tabpanel" aria-labelledby="profile-tab">
        <app-guest-list #users [type]="'user'"></app-guest-list>
      </div>
    </div>


  </ng-container>
  <ng-container class="app-modal-footer">
    <!--<button type="button" class="btn btn-default">Delete</button>&nbsp;-->
    <!--<button type="button" class="btn btn-default">Save</button>-->
    <div class="text-right">
      <button type="button" class="btn primary ml-2" (click)="onSubmit()" >تایید</button>
      <button type="button" class="btn secondary" (click)="selectContacts.hide()">لغو</button>
    </div>
  </ng-container>
</modal>
