<div class="container">

  <div class="card mt-3 shadow">
    <div class="card-body">

      <h2 class="card-title text-right ">ثبت نام</h2>
      <div class="row">

        <div class="col-md-7">
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="form-horizontal">

            <div class="form-group row">
              <label class="col-md-3 col-form-label">نام</label>

              <div class="col-md-9">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="align-bottom fa fa-user"></i></span>
                  </div>
                  <input type="text" placeholder="نام کامل" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                </div>
                <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                <div *ngIf="f.name.errors.required">باید اسمی داشته باشید.</div>
              </div>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-3 col-form-label">ایمیل</label>

              <div class="col-md-9">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="align-bottom fa fa-envelope"></i></span>
                  </div>
                  <input type="text" placeholder="ایمیل" formControlName="email" class="form-control ltr" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                </div>
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">ایمیل خود را وارد کنید.</div>
              </div>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-3 col-form-label">کلمه عبور</label>

              <div class="col-md-9">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="align-bottom fa fa-key"></i></span>
                  </div>
                  <input type="password" placeholder="یک کلمه عبور انتخاب کنید." formControlName="password" class="form-control ltr" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                </div>
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">انتخاب کلمه عبور الزامی است.</div>
                <div *ngIf="f.password.errors.minlength">کلمه عبور حداقل باید ۶ کاراکتر باشد.</div>
              </div>
              </div>
            </div>

            <div class="row form-group">
              <div class="col-md-3"></div>
              <div class="col-md-9 text-right">
                <p class="card-text"><small class="text-muted">ثبت نام شما ملزم به قبول <a href=""> قوانین و مقررات شالاپ </a> است.</small></p>

                  <button [disabled]="loading" type="submit" class="btn btn-primary ml-2">ثبت نام <i class="fa fa-refresh fa-spin" *ngIf="loading"></i></button>
                  <button [disabled]="loading" type="button" class="btn btn-primary ml-2" (click)="loginWithGoogle()">ورود با گوگل <i class="fa fa-google"></i> </button>
                  <a [routerLink]="['/login']" class="btn btn-link">ورود</a>
              </div>
            </div>


          </form>
        </div>

        <div class="col-md-5 text-right">

          <h4>شالاپ به چه دردی می خورد؟</h4>

          <ul class="text-muted">
            <li>ابزاری برای خوشامدگویی به میهمانان شما</li>
            <li>خودکار کردن خیلی از کارهای زمانبر</li>
            <li>تنظیم سریع و ساده ی جلسات</li>
            <li>پذیرش جذاب و آسان میهمانان</li>
            <li>بهبود تاثیرگذاری اولیه بر میهمانان شما</li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>
