<div class="row h-100 overflow-auto ">


  <div class="col-md-6 login-form-bg">
    <div class=" text-right w-100 d-table h-100">
      <div class="d-table-cell p-5  register-content bg-white">

        <div class="text-center"><img src="../assets/images/Sholop-Logo.png" class="rounded mb-5" alt width="200"></div>

        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="">

          <div class="form-group row" *ngIf="false">
            <label class="col-md-3 col-form-label text-right">ثبت نام به عنوان</label>
            <div class="col-md-9 text-right btn-group btn-group-toggle ltr" data-toggle="type">
              <label class="btn btn-outline-primary " [class.active]="registerForm.value.type==='PERSONAL'">
                <input type="radio" formControlName="type" class="form-control" checked value="PERSONAL"> شخص
              </label>
              <label class="btn btn-outline-primary" [class.active]="registerForm.value.type==='BUSINESS'">
                <input type="radio" formControlName="type" class="form-control" value="BUSINESS"> شرکت
              </label>
            </div>
          </div>

          <div>
            <label class=" col-form-label text-right">نام کامل</label>
            <input type="text" [placeholder]="f.type.value === 'business' ? 'نام شرکت' : 'نام'" formControlName="name" class="" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
              <div *ngIf="f.name.errors.required">باید اسمی داشته باشید.</div>
            </div>
          </div>

          <div class="">
            <label class=" col-form-label text-right">ایمیل</label>

            <input type="text" placeholder="ایمیل" formControlName="email" class=" ltr" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />

            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">ایمیل خود را وارد کنید.</div>
            </div>
          </div>

          <div class="">
            <label class="col-form-label text-right">کلمه عبور</label>

            <input type="password" placeholder="یک کلمه عبور انتخاب کنید" formControlName="password" class="ltr" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />

            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">انتخاب کلمه عبور الزامی است.</div>
              <div *ngIf="f.password.errors.minlength">کلمه عبور حداقل باید ۶ کاراکتر باشد.</div>
            </div>
          </div>

          <div class="row form-group" *ngIf="registerForm.value.type==='business'">
            <div class="col-md-3"></div>
            <div class="col-md-9 text-right">
              <p class="card-text">با ثبت‌نام به عنوان یک کسب‌وکار،‌ می‌توانید ملاقات‌های کارمندان شرکت را مدیریت کنید.</p>
            </div>
          </div>

          <p class="card-text"><small class="text-muted">ثبت نام شما ملزم به قبول <a routerLink="/conditions"> قوانین شالاپ </a> است.</small></p>

          <div class="">
            <button [disabled]="loading" type="submit" class="w-100 primary mb-2">
              ثبت نام <i class="fa fa-refresh fa-spin mr-2" *ngIf="loading"></i>
            </button>
            <button *ngIf="false" [disabled]="loading" type="button" class="w-100 primary mb-3" (click)="loginWithGoogle()">ثبت‌نام با گوگل <i class="fa fa-google"></i> </button>
          </div>

        </form>

        <div class="text-center"><a [routerLink]="['/login']" class="btn btn-link">اگر حساب کاربری دارید، از این جا وارد شوید.</a></div>

      </div>
    </div>
  </div>


  <div class="col-md-6 register-cover">
    <div class=" text-right w-100 d-table h-100">
      <div class="d-table-cell p-5  register-content">
        <div class="text-center  owl-container">
          <object class="w-75" type="image/svg+xml" data="../../assets/images/home/owl.svg">
            <param name="class" value="look-around" />
          </object>
        </div>
      </div>
    </div>
  </div>
</div>
