<div class="iconed-input" click-zone (clickOutside)="clickOutside($event)">

  <div class="frame flexbox-parent-row">
    <input class="flexbox-item-grow"
           type="text"
           autocomplete="off"
           [value]="calendar.selectedDate ? dateService.greToPersian(calendar.selectedDate.gDate) : ''"
           (focus)="onFocus()"
           name="date">
  </div>

  <div id="calendar-container" class="form-group" [hidden]="!isShowing"  >
    <calendar #calendar [mode]="'inline'" id="calendar" (onDateSelected)="onDaySelected($event)"></calendar>
  </div>
</div>
