.container.disabled{
  opacity: .6;
  position: relative;
}

.blocker{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.calendar-title{
  color: #212529;
}

.calendar-cell{
  cursor: pointer;
  border-radius: 5px;
  padding: 2px;
  box-sizing: border-box;
  border: 1px solid transparent;
  color: #212529;
}

.calendar-day.selected .calendar-cell{
  background: #222;
  color: white;
}
.calendar-cell:hover{
  background: #9d9d9d;
  color: white;
}

.meeting-count>.arrow{
  content: '';
  /* width: 20px; */
  border-left: 10px solid #ff4e5f;
  border-bottom: 5px solid transparent;
  border-top: 5px solid transparent;
  /* height: 20px; */
  display: inline-block;
  /* background: #000; */
}
.meeting-count>.content{
  background: #ff4e5f;
  color: white;
  /*width: 15px;*/
  padding: 5px 10px;
  display: inline-block;
  font-size: 12px;
  border-radius: 3px;

}
.meeting-count{
  display: none;
  width: max-content;
  z-index: 1000;
  position: absolute;
  bottom: 0px;
  right: 100%;
}

.calendar-day:hover .meeting-count{
  display: block;
}

.meeting-day{
  background: darksalmon;
}
td{
  padding: 0 5px;
}

.holiday{
  color: red;
}

.today .calendar-cell{
  border-color: #ddd;
}

.calendar-table th{
  font-size: 7px;
  padding-top: 5px;
}

.calendar-gday{
  font-size: 10px;
}

.inline .calendar-container{
}

.inline .calendar-container{
  /*width: fit-content;*/
  /*width: 100%;*/
  z-index: 20;
  position: absolute;
  right: 0;
  top: 100%;
  padding: 10px;

  border-radius: .4em;
  -webkit-box-shadow: 0 3px 8px rgba(0,0,0,.25);
  box-shadow: 0 3px 8px rgba(0,0,0,.25);
  background: #f5f7fa;
  -webkit-transition: opacity .3s linear;
  transition: opacity .3s linear;
}

.inline:hover .calendar-container{
  display: block;
  /*animation: fade-in .2s ease both;*/
}


.change-month-btn:hover{
  background: #3a3f48;
  color: white;
}
.change-month-btn{
  border: 1px solid transparent;
}

.btn-container{
  line-height: 7;
}
