<div [class]="'container position-relative ' + mode">
  <div class="row">
    <div class="span12 w-100">

      <div class="flexbox-parent-row" *ngIf="mode==='inline'">
        <div><button class="secondary" (click)="getMonthMapArray(monthOffset-1)"><i class="fa fa-angle-right ml1"></i> ماه قبل</button></div>
        <div class="text-center calendar-title flexbox-item-grow">
          <div class="font-weight-bold">{{dateService.getMonthName(month.currentMonth-1)}} {{month.currentYear}}</div>
          <div class="text-muted">
            {{dateService.getGreMonthName((today.gDate.getMonth()-1) % 12)}} -
            {{dateService.getGreMonthName(today.gDate.getMonth())}}
          </div>

        </div>
        <div><button class="secondary" (click)="getMonthMapArray(monthOffset+1)">ماه بعد <i class="fa fa-angle-left mr-1"></i></button></div>
      </div>

      <div class="calendar-container">
        <table class="calendar-table table-condensed w-100 text-center" >
          <thead >
          <tr *ngIf="mode==='full'">
            <th colspan="7">
                        <span class="btn-group">
                          <a class="btn" (click)="getMonthMapArray(monthOffset-1)"><i class="fa fa-arrow-circle-right"></i> ماه قبل</a>
                        	<a class="btn active">
                            <div class="font-weight-bold">{{dateService.getMonthName(month.currentMonth-1)}} {{month.currentYear}}</div>
                            <div class="text-muted">
                              {{dateService.getGreMonthName((today.gDate.getMonth()-1) % 12)}} -
                              {{dateService.getGreMonthName(today.gDate.getMonth())}}
                            </div>

                          </a>
                        	<a class="btn" (click)="getMonthMapArray(monthOffset+1)">ماه بعد <i class="fa fa-arrow-circle-left"></i></a>
                        </span>
            </th>
          </tr>
          <tr >
            <th>شنبه</th>
            <th>یکشنبه</th>
            <th>دوشنبه</th>
            <th>سه‌شنبه</th>
            <th>چهارشنبه</th>
            <th>پنجشنبه</th>
            <th>جمعه</th>
          </tr>
          </thead>
          <tbody class="calendar-content">
          <tr *ngFor="let week of month.weeks; ">
            <td (click)="onDaySelected(day.gDate)"
                [class.meeting-day]="day && meetingMap[day.gDate.getDate()]>0"
                [class.selected]="day && selectedDate===day.gDate" class="calendar-day position-relative"
                [class.today]="monthOffset === 0 && day && (today.gDate.getDate()===day.gDate.getDate())"
                *ngFor="let day of week;  let i = index;">
              <div *ngIf="day" class="calendar-cell" >
                <div class="calendar-jday font-weight-bold" [class.holiday]="i%7===6">{{day.jDate.date}}</div>
                <div class="calendar-gday english_font" [class.holiday]="i%7===6">{{day.gDate.getDate()}}</div>

              </div>
              <div class="meeting-count position-absolute " *ngIf="day && meetingMap[day.gDate.getDate()]">
                <div class="arrow"></div>
                <div class="content">
                  <i class="fa fa-coffee"></i> <span> {{meetingMap[day.gDate.getDate()]}} </span>
                </div>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
