<div class="mb-3">
  <div [class]="'card meeting-item shadow ' + event.status" [ngStyle]="{background: utilService.getEventStatus(event.status).color}" (click)="onClicked($event, event)">

    <div class="p-2">

      <div class="row ">

        <div class="col-2 meeting-time text-right" >
          <span *ngIf="event.pointedDate.startTime" class="meeting-time">
            <i class="fa fa-clock-o ml-3"></i>
            <span>{{utilService.convertTimeString(event.pointedDate.startTime)}}</span>
          </span>

          <span *ngIf="!event.pointedDate.startTime" class="meeting-time">
            <i class="fa fa-calendar ml-3"></i>
            <span>{{dateService.greToPersian(event.pointedDate.date)}}</span>
          </span>

          <span *ngIf="event.contactEvent" class="" [style.color]="utilService.getContactStatus(event.contactEvent.status).color">
            <i [class]="'mr-2 fa ' + utilService.getContactStatus(event.contactEvent.status).class"></i>
          </span>
          <span *ngIf="event.chairId===user.id" class="">
            <i class="mr-1 fa fa-coffee" ></i>
          </span>
        </div>

        <div class="col-md-4" >

          <div class="panel text-right" >

            <div class="contact-image-container " *ngFor="let contact of event.attendees;">
              <img class="contact-image rounded-circle shadow" [src]="contact.imageUrl ? contact.imageUrl : '../assets/images/user-placeholder.png'">
            </div>

            <span class="mr-2">  {{attendeesString}}  </span>
          </div>

        </div>

        <div class="col-md-4 text-right">
          <span class="meeting-title font-weight-bold mr-2">{{event.title}}</span>
        </div>

        <div [class]="'col-md-2 '">
          {{utilService.getEventStatus(event.status).text}}
        </div>
      </div>

      <div *ngIf="false">

        <!--<span class="text-left"><small class="text-muted">{{utilService.getStatusString(event.status)}}</small></span>-->
        <a [routerLink]="['/edit-meeting/' + event.id]" *ngIf="user.id === event.chairId" class="meeting-tool btn ml-1"><i class="fa fa-edit meeting-tool"></i></a>
        <a class="meeting-tool shadow dropdown-toggle btn" *ngIf="user.id !== event.chairId" data-toggle="dropdown" (click)="$event.stopPropagation" ></a>
        <div class="dropdown-menu rtl">
          <a class="dropdown-item text-right" (click)="updateAttendingStatus(event.contactEvent.id, 'ATTENDING')">
            میام <i [style.color]="'green'" class="fa fa-check"></i>
          </a>
          <a class="dropdown-item text-right" (click)="updateAttendingStatus(event.contactEvent.id, 'NOT_ATTENDING')">
            نمیام <i [style.color]="'red'" class="fa fa-close"></i>
          </a>
          <a class="dropdown-item text-right" (click)="updateAttendingStatus(event.contactEvent.id, 'TENTATIVE')">
            شاید <i [style.color]="'orange'" class="fa fa-exclamation"></i>
          </a>
        </div>


        <h5 class="card-title text-right row">
          <div class="col text-left meeting-time">
            <span class="text-left"><small class="text-muted">{{utilService.getTimeDuration(event.pointedDate.startTime, event.pointedDate.endTime)}}</small></span>
          </div>
        </h5>

        <div class="row">
          <div class="col-md-9 text-right">

          <span class="">
            <a [href]="'https://maps.google.com/?q='+ event.venue.latitude +',' + event.venue.longitude" target="_blank" (click)="$event.stopPropagation();">
              <small class="text-muted"><i class="fa fa-map-marker"></i> {{event.venue ? event.venue.farsiAddress1 + ', ' +  event.venue.farsiAddress2: ""}}</small>
            </a>
          </span>
          </div>

        </div>

      </div>

    </div>

  </div>
</div>
