.contact-image-container:first-child{
  margin-right: 0;
}
.contact-image-container{
  display: inline-block;
  margin-right: -12px;
  color: white;
  line-height: 3;
}
.contact-image{
  width: 40px;
  height: 40px;
  /* padding: 5px; */
}

.meeting-item{
  cursor: pointer;
}

.meeting-item:hover{
  background: #f5f5f5;
}

.meeting-time{
  font-size: 14px;
}
