.contact-image-container:first-child{
  margin-right: 0;
}
.contact-image-container{
  display: inline-block;
  margin-right: -20px;
  color: white;
}
.contact-image{
  width: 40px;
  height: 40px;
  /* padding: 5px; */
}

.meeting-item:hover{
  background: #161a1e;
}
.meeting-item{
  cursor: pointer;

  font-size: 16px;
  background: #212529;

  line-height: 2;
  border-radius: 40px;
  padding: 5px 15px;
}

.meeting-tool:hover{
  color: white;
}
.meeting-tool{
  cursor: pointer;
  /* color: dimgrey; */
  color: gray;
  border-radius: 50%;
}

.dropdown-item{
  cursor: pointer;
}

.meeting-time .fa{
  font-size: 20px;
}

.meeting-item.DONE,
.meeting-item.CANCELLED{
  opacity: .4;
}

