<div [class]="'modal fade '" bsModal #searchModal="bs-modal"
     (onShown)="onShow($event)"
     (onHidden)="onHide($event)"
     [config]="{backdrop: 'static', keyboard: false}"
     role="dialog" aria-hidden="true">
  <div [class]="'modal-dialog modal-' + size + ' ' + ( expand ? 'h-80' : '')">
    <div class="modal-content flexbox-parent">

      <div class="modal-header">
        <i class="fa fa-remove action-icon" (click)="searchModal.hide()"></i>
        <h4 class="modal-title pull-left">{{modalTitle}}</h4>
      </div>

      <div class="modal-body scroll-auto " #scrollPane>
<!--        <ng-content select="[body]"></ng-content>-->
        <ng-content select=".app-modal-body"></ng-content>
      </div>

      <div class="modal-footer" >
<!--        <ng-content select="[footer]"></ng-content>-->
        <ng-content select=".app-modal-footer"></ng-content>
      </div>
    </div>
  </div>
</div>
