.map{
  height: 100px;
}

.edit-step-button:hover{
  color: burlywood;
}
.edit-step-button{
  cursor: pointer;
}

.icon{
  padding: 5px;
}
.frame{
  margin-bottom: 5px;
}

.box{
  background: white;
  padding: 10px;
}
