<div class="bg-dark pt-lg-5 pb-lg-5">
  <div class="container" >

    <form class="" >

      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">What?</h5>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="align-bottom fa fa-list"></i></span>
            </div>
            <input id="title" type="text" name="title" class="form-control" placeholder="Title" [(ngModel)]="event.title">
          </div>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>

      <!--Times-->
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">When?</h5>
          <div class="form-group row " *ngFor="let time of event.times; let i = index" [attr.data-index]="i">
            <div class="col-sm-5">
              <date (onDateSelected)="onDateSelected(i, $event)" [inputClasses]="'form-control'"></date>
            </div>
            <div class="col-sm-3">
              <select class="form-control" name="timeFrom" [(ngModel)]="time.from">
                <option disabled selected [value]="null">-- : --</option>
                <option *ngFor="let x of times" [ngValue]="x">{{x}}</option>
              </select>
            </div>
            <div class="col-sm-3">
              <select class="form-control" name="timeTo" [(ngModel)]="time.to">
                <option disabled selected [value]="null" >-- : --</option>
                <option *ngFor="let x of times" [ngValue]="x">{{x}}</option>
              </select>
            </div>
            <div class="col-sm-1">
              <button class="w-100 btn btn-outline-primary" [disabled]="event.times.length===1" (click)="removeDateTime($event, i)"><i class="fa fa-times"></i></button>
            </div>
          </div>
          <div class=" row ">
            <div class="col-sm-10">
              <a href="#" (click)="addDateTime($event)"><span class=""><i class="fa fa-plus"></i> Add Date</span></a>
            </div>
          </div>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>


      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">Where?</h5>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="align-bottom fa fa-map-marker"></i></span>
            </div>
            <input type="text" class="form-control" id="location_1" size=80
                   ng-model="event.location.farsiAddress1"
                   #searchBox name="title" placeholder="Addresss 1" />
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="align-bottom fa fa-map-marker"></i></span>
            </div>
            <input type="text" class="form-control" id="location_2" size=80
                   ng-model="event.location.farsiAddress1"
                   #address2 on-place-changed="vm.placeChanged()" name="title" placeholder="Addresss 2" />
          </div>

          <!--map-->
          <div class="row form-group">
            <div class="col-sm-12" >
              <div class="h-100" id="map" #gmap style="min-height: 150px;" ></div>
            </div>
          </div>

          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>

      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">Who?</h5>

          <div class="row " *ngFor="let contact of event.contacts;let i = index;" >
            <div class="col-sm-1">
              <img class="rounded-circle contact-image" [src]="event.contacts[i].imageUrl ? event.contacts[i].imageUrl : '../assets/images/user-placeholder.png'">
            </div>
            <div class="col-sm-4">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="align-bottom fa fa-user"></i></span>
                </div>
                <input type="text" class="form-control" [(ngModel)]="event.contacts[i].name"
                       name="name" placeholder="Full Name" />
              </div>
            </div>
            <div class="col-sm-3">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="align-bottom fa fa-envelope"></i></span>
                </div>
                <input type="text" class="form-control" [(ngModel)]="event.contacts[i].email"
                       name="email" placeholder="Email" />
              </div>
            </div>
            <div class="col-sm-3">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="align-bottom fa fa-phone"></i></span>
                </div>
                <input type="text" class="form-control" [(ngModel)]="event.contacts[i].phone"
                       name="phone" placeholder="Phone" />
              </div>
            </div>
            <div class="col-sm-1">
              <button class="w-100 btn btn-outline-primary" (click)="removeContact($event, i)"><i class="fa fa-times"></i></button>
            </div>
          </div>
          <div class=" row ">
            <div class="col-sm-10">
              <a href="#" (click)="addContact($event)"><span class=""><i class="fa fa-plus"></i> Add more...</span></a>
              <a class="ml-4" href="#" (click)="onImportClick()"><span class=""><i class="fa fa-list-ol"></i> Import from contacts</span></a>
              <contacts-modal (onSelected)="onContactsSelected($event)" #contactsModal ></contacts-modal>
            </div>
          </div>

          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>


      <div layout="row" class="">
        <button type="button" [disabled]="submitting" class="btn btn-primary pull-right" (click)="onSubmit()" >OK <i *ngIf="submitting" class="fa fa-refresh fa-spin"></i></button>
        <button type="button" class="btn btn-primary" >Cancel</button>
      </div>


    </form>

  </div>
</div>
