<form class="h-100 overflow-auto " >

  <div class="text-right bg-white p-3">

    <!-- title -->
    <div class="box" [class.editing]="(step===0 && editingStep === -1) || editingStep ===0">

      <div class="frame">
        <label class="font-weight-bold">عنوان ملاقات</label>
        <div class="frame flexbox-parent-row">
          <i class=" ml-3 icon fa fa-tag"></i>
          <input class="flexbox-item-grow" type="text" name="input" placeholder="مصاحبه برای پست مهندس کامپیوتر" [(ngModel)]="event.title">
        </div>
      </div>
    </div>

    <!-- dates -->
    <div class="box" [class.editing]="(step===1 && editingStep === -1) || editingStep === 1">

      <div class="row mb-1" >
        <div class="col-sm-5">
          <label class="font-weight-bold" >تاریخ ملاقات</label>
        </div>
        <div class="col-sm-3">
          <label class="font-weight-bold">از ساعت</label>
        </div>
        <div class="col-sm-3">
          <label class="font-weight-bold">تا ساعت</label>
        </div>
        <div class="col-sm-1">
          <label class="card-title text-right" >&nbsp;</label>
        </div>
      </div>

      <div class="row mb-1" *ngFor="let date of event.dates; let i = index" [attr.data-index]="i">
        <div class="col-sm-5">
          <date (onDateSelected)="onDateSelected(i, $event)" [selectedDate]="date.date" [inputClasses]="'form-control'"></date>
        </div>
        <div class="col-sm-3">
          <time [inputClasses]="''" [date]="date.startTime" (onTimeSelected)="fromTimeChanged($event, i)"></time>
        </div>
        <div class="col-sm-3">
          <time [inputClasses]="''" [date]="date.endTime" (onTimeSelected)="toTimeChanged($event, i)"></time>
        </div>
        <div class="col-sm-1">
          <div class="text-left"><i class="fa fa-remove action-icon" (click)="removeDateTime($event, i)"></i></div>
        </div>
      </div>
      <div class=" row ">
        <div class="col-sm-10 text-right">
          <a href="#" (click)="addDateTime($event)"><span class=""><i class="fa fa-plus"></i> اضافه کردن تاریخ</span></a>
        </div>
      </div>
    </div>

    <!-- location -->
    <div class="box" [class.editing]="step>=2">

      <div class="" [class.editing]="(step===2 && editingStep === -1) || editingStep === 2">
        <label class="font-weight-bold">محل ملاقات</label>
        <div class="frame flexbox-parent-row">
          <i class=" ml-3 icon fa fa-map-marker"></i>
          <input type="text" class="flexbox-item-grow" size=80
                 [(ngModel)]="event.venue.farsiAddress1"
                 autocomplete="off"
                 #searchBox name="address_1" placeholder="شهر،‌ خیابان">
          <div class="text-left"><i class="mr-3 action-icon input-button fa fa-search" (click)="onVenueImportClick($event)"></i></div>

        </div>

        <div class="frame flexbox-parent-row">
          <i class=" ml-3 icon fa fa-map-marker"></i>
          <input type="text" class="flexbox-item-grow" :size=80
                 [(ngModel)]="event.venue.farsiAddress2"
                 #address2  name="address_2" placeholder="کوچه،‌ پلاک، واحد">
        </div>
        <venues-modal (onSelected)="onVenueSelected($event)" #venuesModal ></venues-modal>
      </div>

      <agm-map class="map" [latitude]="event.venue.latitude" [longitude]="event.venue.longitude" [scrollwheel]="true" [zoom]="zoom">
        <agm-marker [markerDraggable]="true" (dragEnd)="markerMoved($event)" [latitude]="event.venue.latitude" [longitude]="event.venue.longitude"></agm-marker>
      </agm-map>

      <p class="card-text" [class.editing]="step===2 || editingStep === 2"><small class="text-muted">با استفاده از نشانگر مکان دقیق جلسه را مشخص کنید.</small></p>
    </div>

    <!-- host-->

    <div class="box" [class.editing]="(step===3 && editingStep === -1) || editingStep === 3">
      <label class="font-weight-bold">میزبان ملاقات</label>

      <div class="custom-control custom-checkbox text-right mb-2" *ngIf="false">
        <input type="checkbox" class="custom-control-input" #imChair [(ngModel)]="event.chairId" id="defaultUnchecked">
        <label class="custom-control-label" for="defaultUnchecked">خودم</label>
      </div>
      <suggesting-contact-input (contactSelected)="chairSelected($event)"></suggesting-contact-input>
      <p class="card-text"><small class="text-muted">میزبان ملاقات یا هماهنگ کننده</small></p>
    </div>

    <!-- guests -->
    <div class="box">
      <div [class.editing]="(step === 4  && editingStep === -1) || editingStep === 4" >
        <label class="font-weight-bold">میهمانان</label>
        <div [class.editing]="step === 4 || editingStep === 4" class="frame flexbox-parent-row">
          <i class=" ml-3 icon fa fa-map-marker"></i>
          <input type="text" class="flexbox-item-grow "  placeholder="نام، آدرس ایمیل، ... ">
          <i class="mr-3 action-icon fa fa-user-plus" (click)="addContact($event)"></i>
          <i class=" action-icon fa fa-address-book" (click)="onImportClick($event)"></i>
        </div>
      </div>

      <div [class.editing]="step >=4">
        <div class="row">

          <div *ngFor="let contact of event.attendees; let i=index;" class="col-md-6 contact p-2 ">
            <div class="contact-border">
              <div class="row p-2 ">

                <div class="col text-right"><img class="rounded-circle contact-image" [src]="contact.imageUrl ? contact.imageUrl : '../assets/images/user-placeholder.png'"></div>

                <div class="col-8 text-right">
                  <div class="font-noraml font-weight-bold" >{{contact.name}}</div>
                  <div class="text-muted"><i class="fa fa-envelope"></i>  {{contact.email}}</div>
                  <div class="text-muted"><i class="fa fa-phone"></i>  {{contact.phone}}</div>

                  <div>
                    <a href="#" (click)="removeContact($event, i)">حذف</a>
                  </div>
                </div>

              </div>
            </div>
          </div>


        </div>
      </div>

      <add-attendee (onContactAdded)="onAttendeeAdded($event);" #addAttendee></add-attendee>
      <contacts-modal (onSelected)="onContactsSelected($event)" #contactsModal ></contacts-modal>

    </div>

    <!-- welcome msg-->
    <div class="box" [class.editing]="step===5 || editingStep === 5">

      <label class="font-weight-bold">متن دعوت</label>
      <div class="frame flexbox-parent-row">
        <i class="ml-3 icon fa fa-smile-o"></i>
        <textarea rows="4" type="text" name="welcome" [(ngModel)]="event.welcomeMessage" class="flexbox-item-grow" placeholder="پیام خوشامد گویی"></textarea>
      </div>
      <p class="card-text"><small class="text-muted">این متن به عنوان دعوت و خوشامدگویی برای میهمان ارسال می شود.</small></p>
    </div>

    <!-- buttons -->
    <div class="text-right">
      <button type="button" [disabled]="submitting" class="primary " (click)="onSubmit()" >ایجاد <i *ngIf="submitting" class="fa fa-refresh fa-spin"></i></button>
    </div>
  </div>


</form>
