.scroll{
  overflow: auto;
}

/*

::-webkit-scrollbar
{
  width: 8px;  !* for vertical scrollbars *!
  height: 8px; !* for horizontal scrollbars *!
}

::-webkit-scrollbar-track
{
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb
{
  background: rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
*/
