<!-- Add new contact Modal -->
<modal #scannerModal
       [modalTitle]="'اسکن بارکد'"
       [width]="500"
       [zIndex]="10"
       (onShown)="changed(true)"
       (onHidden)="changed(false)"
       [maximizable]="false">
  <ng-container class="app-modal-body">
    <zxing-scanner #scanner *ngIf="isShown" (scanComplete)="scanComplete($event)"></zxing-scanner>
  </ng-container>
  <ng-container class="app-modal-footer">
    <!--<button type="button" class="btn btn-default">Delete</button>&nbsp;-->
    <!--<button type="button" class="btn btn-default">Save</button>-->
    <div class="text-right">
      <button type="button" class="btn secondary " (click)="hide();">بستن</button>
    </div>
  </ng-container>
</modal>
